<div>
  <img [src]="avatarUrl" alt="Profile image">
</div>

<div class="user-address mb-0">
  <h3 class="title is-3 username">
    <app-user-link [user]="fakeUserModel"></app-user-link>
  </h3>
  @if (user.pronouns.length) {
    <span class="tags">
      @for (pronoun of user.pronouns; track pronoun) {
        <span class="tag is-info">
          {{ pronoun }}
        </span>
      }
    </span>
  }
</div>

<div class="user-address">
  <h5 class="title is-5">
    ({{ user.username }})
  </h5>
</div>

@if (user.country) {
  <div class="user-location">
    <span class="flag-icon" [class]="'flag-icon-' + user.country.toLowerCase()"></span>
    <span>
      {{ 'country.' + user.country | translate }}
    </span>
  </div>
}

@if (user.languagesSpoken.length) {
  <div>
    <span>{{ 'user.profile.speak' | translate }}</span>
    @for (language of user.languagesSpoken; track language) {
      <span class="language-spoken">
      {{ 'language.' + language | translate }}</span>
    }
  </div>
}
