@use '../../../assets/table';
@use 'bulmaswatch/solar/variables' as solar;

:host {
  @include table.cell-varients($selector-after: '> .element-table-detail');

  // Span from start to finish
  grid-column: 1 / -1;
  // Needed to allow the proper placement of the before and after
  position: relative;
  padding-inline-start: var(--spacing);
  padding-block: calc(var(--spacing) / 2);

  // Provides the strokes for the L connecting the entry to the detail
  &::before {
    content: '';
    position: absolute;
    inset-block-start: var(--spacing);
    inset-inline-start: calc(var(--spacing) / 2);
    width: calc(var(--spacing) / 2);
    height: 2px;
    background-color: #666;
  }

  &::after {
    content: '';
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: calc(var(--spacing) / 2);
    height: var(--spacing);
    width: 2px;
    background-color: #666;
  }

  > .element-table-detail {
    padding: var(--spacing);
    border-radius: solar.$radius;

    @media (max-width: 1023px) {
      & {
        padding: calc(var(--spacing) / 2);
      }
    }
  }
}
