<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="box">
        <h1 class="title">Announcing our partnership with Kaspersky</h1>
        <div class="content">
          <p>We are happy to announce that in partnership with our pals at Kaspersky we’ll be building Oengus version 2! Over the next 6 months we’ll be doing a complete overhaul of Oengus to fix many of the existing shortcomings and to be able to more easily add new features to Oengus going forward. For this project we’ve teamed up with BobChao87 to help with the development of Oengus v2.</p>
          <blockquote>
            <p>
              "We’re excited for the opportunity Kaspersky has given us. We believe the updates we have planned for the next couple months will greatly help a lot of marathons make their event planning a little bit easier. We will keep everyone posted on updates as they happen!"
            </p>
            <small>- Crrool, Oengus.io community manager</small>
          </blockquote>
          <blockquote>
            <p>
              "Oengus means a lot to the speedrunning community – there’s nothing out there quite like it. That’s why we’re thrilled to be able to play our part in helping to develop it, and improve its utility. We’re looking forward to seeing the completed updates in a couple of months’ time."
            </p>
            <small>- Rob Langford, Head of Brand Activation and Partnerships, Kaspersky</small>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
</div>
