<app-element-table-row>
  <app-element-table-cell [isExpandButton]="true"
    [expanded]="expanded"
    (click)="toggleExpand.emit(line.position)"
    (keyup.enter)="toggleExpand.emit(line.position)"
    class="expandable"
    tabindex="0"
  ></app-element-table-cell>
  <app-element-table-cell [class]="{
    'is-warning': !matchesAvailabilities()
  }">
    <app-element-temporal-datetime [dateTime]="line.date" format="shortTime"></app-element-temporal-datetime>
  </app-element-table-cell>

  @if (line.setupBlock) {
    <app-element-table-cell>
      <strong>{{'marathon.schedule.setupBlock' | translate}}</strong>
    </app-element-table-cell>
    <app-element-table-cell class="setup-text" columnEnd="span 5">
      <app-simple-md [data]="line.setupBlockText || 'marathon.schedule.setupBlock' | translate"></app-simple-md>
    </app-element-table-cell>
    <app-element-table-cell>
      <app-element-temporal-duration [duration]="line.setupTime"></app-element-temporal-duration>
    </app-element-table-cell>
  } @else {
    <app-element-table-cell>
      @for (runner of line.runners; track runner) {
<p [class]="{
          'has-text-warning': !isAvailable(runner)
        }">
          @if (selectedAvailabilities.includes(getRunnerUsername(runner))) {
<a (click)="selectAvailability.emit({
              username: getRunnerUsername(runner),
              on: false
           })" (keyup.enter)="selectAvailability.emit({
              username: getRunnerUsername(runner),
              on: false
           })" tabindex="0" aria-label="Remove availability">
              <fa-icon [icon]="iconCalendarTimes"></fa-icon>
            </a>
          } @else {
            <a (click)="selectAvailability.emit({
              username: getRunnerUsername(runner),
              on: true
           })" (keyup.enter)="selectAvailability.emit({
              username: getRunnerUsername(runner),
              on: true
           })" tabindex="0" aria-label="Add availability">
              <fa-icon [icon]="iconCalendarWeek"></fa-icon>
            </a>
          }
          {{ getRunnerDisplayName(runner) }}
        </p>
      }
    </app-element-table-cell>
    <app-element-table-cell>
      <app-simple-md [data]="line.game"></app-simple-md>
    </app-element-table-cell>
    <app-element-table-cell>
      <app-simple-md [data]="line.category"></app-simple-md>
    </app-element-table-cell>
    <app-element-table-cell>
      {{ 'marathon.schedule.type.' + line.type | translate }}
    </app-element-table-cell>
    <app-element-table-cell>
      {{ line.console }}@if (line.emulated) {
      <sup>{{ 'global.emu' | translate}}</sup>
    }
  </app-element-table-cell>
  <app-element-table-cell>
    <app-element-temporal-duration [duration]="line.estimate"></app-element-temporal-duration>
  </app-element-table-cell>
  <app-element-table-cell>
    <app-element-temporal-duration [duration]="line.setupTime"></app-element-temporal-duration>
  </app-element-table-cell>
}


<app-element-table-cell class="actions">
  <!-- Setup blocks are custom runs imo, but for legacy reasons they are not -->
  @if (!line.customRun && !line.setupBlock) {
    <a (click)="moveToToDo.emit(i)" (keyup.enter)="moveToToDo.emit(i)" tabindex="0" aria-label="Move to todo">
      <fa-icon [icon]="iconChevronLeft"></fa-icon>
    </a>
  }
  @if (line.customRun || line.setupBlock) {
    <a (click)="delete.emit(i)" (keyup.enter)="delete.emit(i)" tabindex="0" aria-label="Delete">
      <fa-icon [icon]="iconTimes"></fa-icon>
    </a>
  }
  <a (click)="toggleExpand.emit(line.position)" (keyup.enter)="toggleExpand.emit(line.position)" tabindex="0" aria-label="Edit">
    <fa-icon [icon]="iconEdit"></fa-icon>
  </a>
  <ng-content select="[oengusDragDandlePosition]"></ng-content>
</app-element-table-cell>
</app-element-table-row>
