@import 'bulmaswatch/solar/variables';

.patreon-nudge, .empty-space {
  padding: 10px;
  border: $border 2px solid;
  border-radius: 10px;
  position: relative;

  .join-patreon {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.adsbygoogle {
  // background-color: white;
}
