<p class="menu-label">
  {{ 'marathon.menu.admin' | translate }}
</p>
<ul class="menu-list">
  <li [title]="'marathon.menu.settings' | translate">
    <a [routerLink]="'/marathon/' + marathonId + '/settings' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
      <i class="menu-item-icon fa-solid fa-cogs"></i>
      <span class="menu-item-label">
        {{ 'marathon.menu.settings' | translate }}
      </span>
    </a>
  </li>
  <li [title]="'marathon.menu.selectRuns' | translate">
    <a [routerLink]="'/marathon/' + marathonId + '/selection' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
      <i class="menu-item-icon fa-solid fa-check-square"></i>
      <span class="menu-item-label">
        {{ 'marathon.menu.selectRuns' | translate }}
      </span>
    </a>
  </li>
  <li [title]="'marathon.menu.manageSchedule' | translate">
    <a [routerLink]="'/marathon/' + marathonId + '/schedule-management/overview' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
      <i class="menu-item-icon fa-solid fa-calendar-check"></i>
      <span class="menu-item-label">
        {{ 'marathon.menu.manageSchedules' | translate }}
      </span>
    </a>
  </li>
  @if (marathon.hasDonations && marathon.hasIncentives) {
    <li [title]="'marathon.menu.manageIncentives' | translate">
      <a [routerLink]="'/marathon/' + marathonId + '/incentives/manage' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
        <i class="menu-item-icon fa-solid fa-dot-circle"></i>
        <span class="menu-item-label">
          {{ 'marathon.menu.manageIncentives' | translate }}
        </span>
      </a>
    </li>
  }
</ul>
