.menu-item-link {
  display: flex;
  justify-content: flex-start;
  justify-content: start;
  align-items: center;
}

.menu-item-icon {
  min-width: 1.5em;
  margin-inline-end: 0.25em;
}

:host.collapsed {
  .menu-label,
  .menu-item-label {
    display: none;
  }

  .menu-item-icon {
    margin-inline-end: 0;
  }

  .menu-list {
    display: flex;
    flex-wrap: wrap;
  }
}
