@if (connectionMeta.link) {
  <a [href]="connectionMeta.link" target="_blank" class="social-link-container">
    <p>{{ (connectionMeta.header | translate) || connection.platform }}</p>
    <fa-icon [icon]="connectionMeta.icon" size="2x"></fa-icon>
    <p>{{ usernameFormatted }}</p>
  </a>
} @else {
  <div class="social-link-container">
    <p>{{ (connectionMeta.header | translate) || connection.platform }}</p>
    <fa-icon [icon]="connectionMeta.icon" size="2x"></fa-icon>
    <p>{{ usernameFormatted }}</p>
  </div>
}

