<app-calendar-controller [(calendarView)]="calendarView" [year]="year" [month]="month"></app-calendar-controller>

@if (loading) {
  <div class="is-centered">
    <app-loading-indicator></app-loading-indicator>
  </div>
} @else {
  @if (tableView) {
    <app-calendar-view-table
      [year]="year"
      [month]="month"
      [marathons]="marathons"
    ></app-calendar-view-table>
  } @else {
    <app-calendar-view-schedule [year]="year"
      [month]="month"
      [marathons]="marathons"
    ></app-calendar-view-schedule>
  }
}


