<div class="message" [class]="messageClass">
  <div class="message-header">
    <a [routerLink]="'.' | localize" [fragment]="linkedRun">
      {{ messageHeaderTitle | translate: messageHeaderArgs }}
    </a>
  </div>
  <div class="message-body">
    <p class="run-info-container">
      @if (ticker.setupBlock) {
        <span class="info">
          {{ (ticker.setupBlockText || 'marathon.schedule.setupBlock' | translate) }}
        </span>
      }
      @if (ticker.game) {
        <span class="info">
          <app-simple-md [data]="ticker.game"></app-simple-md>
        </span>
      }
      @if (ticker.category) {
        <span class="info">
          <app-simple-md [data]="ticker.category" ></app-simple-md>
        </span>
      }
      @if (ticker.console) {
        <span class="info">
          {{ ticker.console }}
        </span>
      }
    </p>
    <p class="runner-info">
      @for (runner of ticker.runners; track runner) {
        <app-user-link [user]="runner" class="runner"></app-user-link>
      }
    </p>
    <!-- TODO: loading indicator -->
  </div>
</div>
