.message {
  height: 100%;
  margin-block-end: 0;
}

.message-header {
  // XXX Fixes an issue with Safari renderering not underscoring beneath the word-spacing pixels
  // Doesn't seem to affect other underlined sources. Should be tested and removed when possible
  word-spacing: 0;
}

.run-info-container > .info:not(:last-of-type)::after {
  content: '-';
}

.runner-info {
  display: flex;

  > .runner:not(:last-of-type) {
    margin-inline-end: 0.25em;

    &::after {
      content: ',';
    }
  }
}
