<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="box">
        <h1 class="title">{{'patrons.title' | translate}}</h1>
        <p>{{'patrons.par1' | translate}}</p>
        <p [innerHTML]="'patrons.par2' | translate"></p>
        <br/>
        @if (patrons.length) {
          <div class="is-flex is-flex-direction-row is-justify-content-space-around is-flex-wrap-wrap">
            @for (patron of patrons; track patron) {
              <div class="patron-item">
            <a [href]="'https://www.patreon.com/user?u=' + patron.id" target="_blank">{{patron.full_name}}</a>
          </div>
}
        </div>
} @else {
      <div [innerHTML]="'patrons.noPatrons' | translate"></div>
}
    </div>
  </div>
</div>
</div>
