<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
      <div class="box">
        <h1 class="title">Our Patrons</h1>
        <p>Bla bla bla</p>
        <br/>
        <div class="is-flex is-flex-direction-row is-justify-content-space-around is-flex-wrap-wrap" *ngIf="patrons.length">
          <div class="patron-item" *ngFor="let patron of patrons">
            <a [href]="'https://www.patreon.com/user?u=' + patron.id">{{patron.full_name}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
