// @use 'bulmaswatch/solar/variables' as solar;
@use 'bulma/sass/utilities' as bulma;

:host {
  --start-range: 0%;
  --end-range: 100%;

  position: relative;
  border: none;
  border-radius: bulma.$radius-rounded;
  display: block;
  height: 1rem;
  overflow: hidden;
  padding: 0;
  width: 100%;
  background-color: bulma.$grey-lightest;

  > .selected-range {
    position: absolute;
    border: none;
    border-radius: bulma.$radius;
    display: block;
    height: 100%;
    left: var(--start-range);
    right: var(--end-range);
    background-color: bulma.$primary;
  }

  $colors:
    'primary' bulma.$primary,
    'info' bulma.$info,
    'success' bulma.$green,
    'warning' bulma.$warning,
    'danger' bulma.$red;

  @each $name, $color in $colors {
    &.is-#{$name} > .selected-range {
      background-color: $color;
    }
  }
}
