@for (submission of submissions$ | async; track submission) {
  <div class="box">
    <h4 class="title is-4">
      <app-user-link [user]="submission.user" [isLink]="true" [showAvatar]="true"></app-user-link>
      @if (showDelete) {
        <app-delete-button
          [baseText]="'marathon.submissions.submission.delete' | translate"
          [confirmText]="'action.confirm' | translate"
          [cancelText]="'action.cancel' | translate"
          (confirmHandler)="deleteSubmissionFromList(submission.id)"
        ></app-delete-button>
      }
    </h4>
    @for (game of submission.games; track game) {
      <app-submission-game
        [game]="game"
        [marathon]="marathonService.marathon"
        [showDelete]="showDelete"
        [selection]="selection"
        [userIsAdmin]="userIsAdmin"
        (deleteGame)="deleteGameFromList(game.id)"
        (deleteCategory)="deleteCategoryFromList(game.id, $event)"
      ></app-submission-game>
    }
  </div>
}

<div class="is-centered" [hidden]="!canLoadMore" #lazyLoadTrigger>
  <app-loading-indicator></app-loading-indicator>
</div>
