version: '3.8'

services:
  oenguswebapp:
    image: oenguswebapp
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3000:3000
