<app-element-table>
  <app-element-table-cell class="time" [isHeader]="true">
  </app-element-table-cell>
  <app-element-table-cell class="time" [isHeader]="true">
    {{ 'marathon.schedule.table.time' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="runners" [isHeader]="true">
    {{ 'marathon.schedule.table.runner' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="game" [isHeader]="true">
    {{ 'marathon.schedule.table.game' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="category" [isHeader]="true">
    {{ 'marathon.schedule.table.category' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="type" [isHeader]="true">
    {{ 'marathon.schedule.table.type' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="console" [isHeader]="true">
    {{ 'marathon.schedule.table.console' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="estimate" [isHeader]="true">
    {{ 'marathon.schedule.table.estimate' | translate }}
  </app-element-table-cell>
  <app-element-table-cell class="setup" [isHeader]="true">
    {{ 'marathon.schedule.table.setup' | translate }}
  </app-element-table-cell>
  <app-element-table-cell [isHeader]="true">
    {{ 'marathon.schedule.table.actions' | translate }}
  </app-element-table-cell>

  <!-- TODO: drag and drop the schedule lines -->
  <ng-template ngFor [ngForOf]="lines" let-line let-i="index">

    <app-schedule-edit-row
      [i]="i"
      [class]="getRowParity(i)"
      [expanded]="expanded.has(line.id)"
      (toggleExpand)="toggleExpand(line.id)"
      [line]="line"
    ></app-schedule-edit-row>

    <app-element-table-detail *ngIf="expanded.has(line.id)" [class]="getRowParity(i)">
      <!-- TODO: disable drag and drop when edit is open -->
      <!-- TODO: add styling -->

      <app-setup-block-editor *ngIf="line.setupBlock" [line]="line"></app-setup-block-editor>
      <app-normal-run-editor *ngIf="!line.setupBlock" [line]="line"></app-normal-run-editor>

      <!-- (custom data exists for both setup block and normal runs) -->
      <div>
        <label for="custom-data-{{i}}">
          {{ 'marathon.schedule.management.customData.inputText' | translate }}
        </label>

        <textarea id="custom-data-{{i}}" class="textarea"
                  [(ngModel)]="line.customData"
                  placeholder='{"layout": "19:9", "other-data": "here"} or whatever else you want'></textarea>
      </div>
    </app-element-table-detail>
  </ng-template>
</app-element-table>
