<app-element-table>
  <app-element-table-row header>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.time' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.runner' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.game' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.category' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.type' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.console' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.estimate' | translate}}</app-element-table-cell>
    <app-element-table-cell [isHeader]="true">{{ 'marathon.schedule.table.actions' | translate}}</app-element-table-cell>
  </app-element-table-row>

  <!-- TODO: drag and drop the schedule lines -->
  <ng-template ngFor [ngForOf]="lines" let-line let-i="index">
    <app-element-table-row [class]="getRowParity(i)">
      <app-element-table-cell [isExpandButton]="true"
                              [expanded]="expanded.has(line.id)"
                              class="expandable"
                              (click)="toggleExpand(line.id)"
      ></app-element-table-cell>
      <!-- TODO: format time to HH:mm -->
      <app-element-table-cell>{{ line.date }}</app-element-table-cell>

      <ng-template [ngIf]="line.setupBlock" [ngIfElse]="notASetupBlock">
        <app-element-table-cell>
          <strong>{{'marathon.schedule.setupBlock' | translate}} (do we need this text?)</strong>
        </app-element-table-cell>
        <app-element-table-cell>
          <app-simple-md [data]="line.setupBlockText || 'marathon.schedule.setupBlock' | translate"></app-simple-md>
        </app-element-table-cell>
        <app-element-table-cell>
          {{ line.setupTime }}
        </app-element-table-cell>
      </ng-template>

      <ng-template #notASetupBlock>
        <app-element-table-cell>
        <span *ngFor="let runner of line.runners">
          {{ runner.runnerName ?? runner.profile.displayName }}
        </span>
        </app-element-table-cell>
        <app-element-table-cell>
          <app-simple-md [data]="line.game"></app-simple-md>
        </app-element-table-cell>
        <app-element-table-cell>
          <app-simple-md [data]="line.category"></app-simple-md>
        </app-element-table-cell>
        <app-element-table-cell>{{ 'marathon.schedule.type.' + line.type | translate }}</app-element-table-cell>
        <app-element-table-cell>{{ line.console }}<sup *ngIf="line.emulated">{{ 'global.emu' | translate}}</sup></app-element-table-cell>
        <app-element-table-cell>
          <app-element-temporal-duration [duration]="line.estimate"></app-element-temporal-duration>
        </app-element-table-cell>
      </ng-template>


      <app-element-table-cell>
        <a (click)="moveToToDo.emit(i)" *ngIf="!line.customRun">
          <fa-icon [icon]="iconChevronLeft"></fa-icon>
        </a>
        <a (click)="delete.emit(i)" *ngIf="line.customRun">
          <fa-icon [icon]="iconTimes"></fa-icon>
        </a>
        <a (click)="toggleExpand(line.id)">
          <fa-icon [icon]="iconEdit"></fa-icon>
        </a>
        <fa-icon [icon]="iconBars" cdkDragHandle class="is-pulled-right"></fa-icon>
      </app-element-table-cell>
    </app-element-table-row>

    <app-element-table-detail *ngIf="expanded.has(line.id)" [class]="getRowParity(i)">
      <!-- TODO: disable drag and drop when edit is open -->
      <!-- TODO: add styling -->

      <app-setup-block-editor *ngIf="line.setupBlock" [line]="line"></app-setup-block-editor>
      <app-normal-run-editor *ngIf="!line.setupBlock" [line]="line"></app-normal-run-editor>

      <!-- (custom data exists for both setup block and normal runs) -->
      <div>
        <label for="custom-data-{{i}}">
          {{ 'marathon.schedule.management.customData.inputText' | translate }}
        </label>

        <textarea id="custom-data-{{i}}" class="textarea"
                  [(ngModel)]="line.customData"
                  placeholder='{"layout": "19:9", "other-data": "here"} or whatever else you want'></textarea>
      </div>
    </app-element-table-detail>
  </ng-template>
</app-element-table>
