@use '../../../../../assets/table';

app-element-table {
  @include table.shrink($default-template-columns: 10, $has-expand-button: true);
}

.droplist {
  display: contents;
  position: relative;
}

.custom-data-field {
  margin-top: var(--spacing);
}
