<div class="level">
  <div class="level-left">
    <div class="title is-3 level-item">
      {{ 'marathon.schedule.title' | translate }}
    </div>
  </div>
  <div class="level-right">
    <app-marathon-schedule-export></app-marathon-schedule-export>
  </div>
</div>

<div class="current-runs-container block">
  <app-marathon-schedule-current [ticker]="currentRun"></app-marathon-schedule-current>
  <app-marathon-schedule-current [isNext]="true" [ticker]="nextRun"></app-marathon-schedule-current>
</div>

<p class="block">
  {{ 'marathon.schedule.timezone' | translate }}
</p>

<app-marathon-schedule-list [runs]="schedule.lines"></app-marathon-schedule-list>
