<div class="is-pulled-right">
  @if (!showConfirm) {
    <a class="is-tooltip-danger" (click)="confirm()"
      [nwbToolTip]="baseText"
      nwbToolTipPosition="left"
      [nwbToolTipIsMultiline]="true">
      <i class="fa-solid fa-times"></i>
    </a>
  }
  @if (showConfirm) {
    <a class="is-tooltip-danger" (click)="confirmHandler.next()"
      nwbToolTipPosition="left"
      [nwbToolTip]="confirmText">
      <i class="fa-solid fa-check"></i>
    </a>

    <a class="is-tooltip-danger" (click)="cancel()"
       nwbToolTipPosition="left"
       [nwbToolTip]="cancelText">
      <i class="fa-solid fa-times"></i>
    </a>
  }
</div>
