<div class="is-pulled-right">
  @if (!showConfirm) {
    <a class="is-tooltip-danger" (click)="confirm()" (keyup.enter)="confirm()"
      [nwbToolTip]="baseText"
      nwbToolTipPosition="left"
      nwbToolTipIsMultiline="true" tabindex="0" aria-label="Delete">
      <fa-icon [icon]="faTimes"></fa-icon>
    </a>
  }
  @if (showConfirm) {
    <a class="is-tooltip-danger" (click)="confirmHandler.next()" (keyup.enter)="confirmHandler.next()"
      nwbToolTipPosition="left"
      [nwbToolTip]="confirmText" tabindex="0" aria-label="Confirm">
      <fa-icon [icon]="faCheck"></fa-icon>
    </a>

    <a class="is-tooltip-danger" (click)="cancel()" (keyup.enter)="cancel()"
       nwbToolTipPosition="left"
       [nwbToolTip]="cancelText" tabindex="0" aria-label="Cancel">
      <fa-icon [icon]="faTimes"></fa-icon>
    </a>
  }
</div>
