<label for="password" class="label">{{ 'user.settings.password.label' | translate }}</label>
<div class="field has-addons">
  <div class="control has-icons-left is-expanded">
    @if (passwordHidden) {
      <input class="input"
        type="password"
        name="password"
        id="password"
        placeholder="********"
        [ngModel]="password"
        (ngModelChange)="passwordChange.emit($event)" />
    } @else {
      <input class="input"
        type="text"
        name="password"
        id="password"
        placeholder="password"
        [ngModel]="password"
        (ngModelChange)="passwordChange.emit($event)" />
    }
    <span class="icon is-small is-left">
      <i class="fa-solid fa-lock"></i>
    </span>
  </div>

  <div class="control">
    <button class="button" type="button" (click)="passwordHidden = !passwordHidden"
      [title]="(passwordHidden ? 'login.password.show' : 'login.password.hide') | translate">
      <span class="icon cursor-pointer">
        @if (passwordHidden) {
          <i class="fa-solid fa-eye"></i>
        } @else {
          <i class="fa-solid fa-eye-slash"></i>
        }
      </span>
    </button>
  </div>
</div>
