@for (config of configs; let i = $index; track i) {
  <div class="nwb-alert">
    <div
      [class]="'alert ' + ((config.color) ? config.color : ' is-primary') + ((config.extraClasses) ? ' ' + config.extraClasses : '') + ((config.position) ? ' ' + config.position : ' is-top')"
      [class.is-active]="config.open"
    >
      <div class="alert--message">
        @if (config.icon) {
          <span class="icon">
        <i [class]="config.icon"></i>
      </span>
        }
        <p [innerHTML]="config.message"></p>
      </div>
    </div>
  </div>
}
