<fieldset [disabled]="!editing">
  <div class="columns is-multiline">
    <div class="column is-half">
      <div class="field">
        <label for="gameName{{i}}" class="label">
          {{ 'marathon.submit.game.name.label' | translate }}
        </label>

        <div class="control">
          <input
            type="text"
            [(ngModel)]="game.name"
            class="input"
            id="gameName{{i}}"
            name="gameName{{i}}"
            [ngClass]="{'is-danger': gameName.invalid}"
            required
            maxlength="100"
            #gameName="ngModel"
          />
          <p class="help is-pulled-right">{{ game.name?.length }}/100</p>
        </div>

        @if (gameName.invalid) {
          <div>
            @if (gameName.errors.required) {
              <p class="help is-danger">
                {{ 'marathon.submit.game.name.error.required' | translate }}</p>
            }
          </div>
        }
      </div>
    </div>

    <div class="column is-half">
      <div class="field">
        <label for="gameRatio{{i}}" class="label">
          {{ 'marathon.submit.game.ratio.label' | translate }}
        </label>

        <div class="control">
          <input
            type="text"
            class="input"
            [(ngModel)]="game.ratio"
            id="gameRatio{{i}}"
            name="gameRatio{{i}}"
            [ngClass]="{'is-danger': gameRatio.invalid}"
            required
            maxlength="10"
            #gameRatio="ngModel"
          />
          <p class="help is-pulled-right">{{ game.ratio?.length }}/10</p>
        </div>

        @if (gameRatio.invalid) {
          <div>
            @if (gameRatio.errors.required) {
              <p class="help is-danger">
                {{ 'marathon.submit.game.ratio.error.required' | translate }}</p>
            }
          </div>
        }
      </div>
    </div>

    <div class="column">
      <label for="gameConsole{{i}}" class="label">
        {{ 'marathon.submit.game.console.label' | translate }}
      </label>

      <div class="field has-addons">
        <div class="select is-fullwidth">
          <select [(ngModel)]="game.console" name="gameConsole{{i}}" id="gameConsole{{i}}">
            <option value="" disabled>(select a console)</option>
            @for (opt of possibleConsoles; track opt) {
              <option [ngValue]="opt">{{ opt }}</option>
            }
          </select>
        </div>

        <p class="control">
          <button type="button" class="button">
            <label class="checkbox" for="emulated{{i}}">
              <input
                type="checkbox"
                class="emuCb"
                [checked]="game.emulated"
                [(ngModel)]="game.emulated"
                name="emulated{{i}}"
                id="emulated{{i}}"
              />
              {{ 'marathon.submit.game.console.emulated' | translate }}
            </label>
          </button>
        </p>
      </div>
    </div>
  </div>

  <div class="field">
    <label for="gameDescription{{i}}" class="label">
      {{ 'marathon.submit.game.description.label' | translate }}
    </label>
    <p class="help">{{ 'marathon.submit.game.description.help' | translate }}</p>

    <div class="control">
        <textarea
          name="gameDescription{{i}}"
          id="gameDescription{{i}}"
          cols="30"
          rows="5"
          class="textarea"
          [(ngModel)]="game.description"
          [ngClass]="{'is-danger': gameDescription.invalid}"
          required
          #gameDescription="ngModel">
        </textarea>
        <p class="help is-pulled-right">{{game.description?.length}}/500</p>
    </div>
    @if (gameDescription.invalid) {
      <div>
        @if (gameDescription.errors.required) {
          <p class="help is-danger">
            {{ 'marathon.submit.game.description.error.required' | translate }}</p>
        }
      </div>
    }
  </div>
</fieldset>

@if (game.id > 0) {
  <div class="buttons">
    @if (editing) {
      <button
        aria-label="Save"
        class="button is-success"
        [class.is-loading]="loading"
        (click)="saveGame()"
        type="button">
        <i class="fa-solid fa-floppy-disk"></i>
      </button>

      <button
        class="button is-danger"
        [class.is-loading]="loading"
        (click)="cancelEdit()"
        aria-label="Cancel"
        type="button">
        <i class="fa-solid fa-cancel"></i>
      </button>
    } @else {
      <button aria-label="Edit" class="button is-info" (click)="editing = true" type="button">
        <i class="fa-solid fa-pencil"></i>
      </button>
    }
  </div>
}
