@use 'sass:math' as math;
@use 'bulmaswatch/solar/variables' as solar;
@use 'bulma/sass/utilities/initial-variables' as bulma;

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing);
}

.title {
  margin: 0;
}

.controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  > * {
    border-radius: 0;

    &:first-child {
      border-start-start-radius: bulma.$radius-rounded;
      border-end-start-radius: bulma.$radius-rounded;
      border-inline-start-width: solar.$border-width;
    }

    &:last-child {
      border-start-end-radius: bulma.$radius-rounded;
      border-end-end-radius: bulma.$radius-rounded;
      border-inline-end-width: solar.$border-width;
    }
  }
}
