<app-element-table-row>
  <app-element-table-cell>
    @for (runner of line.runners; track runner) {
      @let runnerUserName = getRunnerUsername(runner);

      <p>
        @if (selectedAvailabilities.includes(runnerUserName)) {
          <a (click)="selectAvailability.emit({
              username: runnerUserName,
              on: false
           })"
          >
            <fa-icon [icon]="iconCalendarTimes"></fa-icon>
          </a>
        } @else {
          <a (click)="selectAvailability.emit({
              username: runnerUserName,
              on: true
           })"
          >
            <fa-icon [icon]="iconCalendarWeek"></fa-icon>
          </a>
        }
        {{ getRunnerDisplayName(runner) }}
      </p>
    }
  </app-element-table-cell>
  <app-element-table-cell>{{ line.game }}</app-element-table-cell>
  <app-element-table-cell>{{ line.category }}</app-element-table-cell>
  <app-element-table-cell>{{ line.console }}@if (line.emulated) {
    <sup>{{ 'global.emu' | translate }}</sup>
  }</app-element-table-cell>
  <app-element-table-cell>
    <app-element-temporal-duration [duration]="line.estimate"></app-element-temporal-duration>
  </app-element-table-cell>
  <app-element-table-cell>
    <a (click)="moveToSchedule.emit(i)">
      <fa-icon [icon]="iconChevronRight"></fa-icon>
    </a>
  </app-element-table-cell>
</app-element-table-row>
