<app-element-table-row>
  <app-element-table-cell>
    @for (runner of line.runners; track runner) {
      <p>
        @if (selectedAvailabilities.includes(getRunnerUsername(runner))) {
<a (click)="selectAvailability.emit({
          username: getRunnerUsername(runner),
          on: false
       })"
            >
            <i class="fa-solid fa-calendar-times"></i>
          </a>
        } @else {
        <a (click)="selectAvailability.emit({
          username: getRunnerUsername(runner),
          on: true
       })">
          <i class="fa-solid fa-calendar-week"></i>
          </a>
        }
        {{ getRunnerDisplayName(runner) }}
      </p>
    }
  </app-element-table-cell>
  <app-element-table-cell>{{ line.game }}</app-element-table-cell>
  <app-element-table-cell>{{ line.category }}</app-element-table-cell>
  <app-element-table-cell>{{ line.console }}@if (line.emulated) {
    <sup>{{ 'global.emu' | translate}}</sup>
  }</app-element-table-cell>
  <app-element-table-cell>
    <app-element-temporal-duration [duration]="line.estimate"></app-element-temporal-duration>
  </app-element-table-cell>
  <app-element-table-cell>
    <a (click)="moveToSchedule.emit(i)">
      <i class="fa-solid fa-chevron-right"></i>
    </a>
  </app-element-table-cell>
</app-element-table-row>
