<div class="container">
  <h1 class="title">{{'marathon.donate.title' | translate}}</h1>
  <h2 class="subtitle">{{'marathon.donate.description' | translate:{
    'supportedCharity': marathonService.marathon.supportedCharity
  } }}</h2>

  <form ngForm="donateForm"
    #form="ngForm">
    <div class="field">
      <label for="nickname" class="label">{{'marathon.donate.nickname.label' | translate}}</label>
      <div class="control">
        <input class="input"
          [ngClass]="{'is-danger': nickname.invalid}"
          type="text"
          [(ngModel)]="donation.nickname"
          name="nickname"
          id="nickname"
          #nickname="ngModel"
          maxlength="16"
          pattern="^[\w\-]{0,16}$">
      </div>
      <p class="help is-pulled-right">{{donation.nickname?.length}}/16</p>
      @if (nickname.invalid) {
        <div>
          @if (nickname.errors.maxlength) {
            <p class="help is-danger"
            >{{'marathon.donate.nickname.error.max' | translate}}</p>
          }
          @if (nickname.errors.pattern) {
            <p class="help is-danger"
            >{{'marathon.donate.nickname.error.pattern' | translate}}</p>
          }
        </div>
      }
    </div>
    <label for="amount" class="label">{{'marathon.donate.amount.label' | translate}}</label>
    <div class="field">
      <input class="input"
        [ngClass]="{'is-danger': amount.invalid}"
        type="number"
        [(ngModel)]="donation.amount"
        name="amount"
        id="amount"
        [appMinNumberValidator]="1"
        #amount="ngModel"
        required>
      <p class="help is-pulled-right">
        <app-monetary-amount [currency]="marathonService.marathon.donationCurrency"
        [amount]="donation.amount"></app-monetary-amount>
      </p>
    </div>
    @if (amount.invalid) {
      <div>
        @if (amount.errors.required) {
          <p class="help is-danger"
          >{{'marathon.donate.amount.error.required' | translate}}</p>
        }
        @if (amount.errors.minNumber) {
          <p class="help is-danger"
          >{{'marathon.donate.amount.error.minNumber' | translate}}</p>
        }
      </div>
    }
    <div class="field">
      <label for="comment" class="label">{{ 'marathon.donate.comment.label' | translate}}</label>
      <div class="control">
        <textarea class="textarea"
          maxlength="500"
          [(ngModel)]="donation.comment"
                  id="comment"
        name="comment"></textarea>
        <p class="help is-pulled-right">{{donation.comment?.length}}/500</p>
      </div>
    </div>
    @if (!!incentives && incentives.length > 0) {
      <div class="is-clearfix"></div>
      <hr/>
      <h4 class="title is-4">{{'marathon.donate.incentives.title' | translate}}</h4>
      <p>{{'marathon.donate.incentives.description' | translate}}</p>
      <button type="button" class="button is-info is-pulled-right mb-3"
        (click)="addLink()">{{ 'marathon.donate.incentives.add' | translate}}
      </button>
      @if (!!links && links.length > 0) {
        <table class="table is-fullwidth">
          <thead>
            <tr>
              <th>{{ 'marathon.donate.incentives.header.incentive' | translate}}</th>
              <th>{{ 'marathon.donate.incentives.header.amount' | translate}}</th>
              <th>{{ 'marathon.donate.incentives.header.action' | translate}}</th>
            </tr>
          </thead>
          <tbody #amounts="ngModelGroup" ngModelGroup="incentives" [appTotalValidator]="donation.amount">
            @for (link of links; track link; let i = $index) {
              <tr>
                <td>
                  <div class="field is-horizontal">
                    <div class="field-body">
                      <div class="field">
                        <div class="select">
                          <select name="incentive-{{i}}" [(ngModel)]="link.incentive">
                            @for (incentive of incentives; track incentive) {
                              @if (!incentive.bidWar) {
                                <option [ngValue]="incentive">
                                  {{incentive.scheduleLine.gameName}} - {{incentive.name}}
                                </option>
                              }
                              @if (incentive.bidWar) {
                                @for (bid of incentive.bids; track bid) {
                                  <option [ngValue]="bid">
                                    @if (!bid.isNew) {
                                      <span>{{incentive.scheduleLine.gameName}} - {{incentive.name}} -
                                      {{bid.name}}</span>
                                    }
                                    @if (bid.isNew) {
                                      <span>{{incentive.scheduleLine.gameName}} - {{incentive.name}} -
                                      {{'marathon.donate.incentives.bid.new' | translate}}</span>
                                    }</option>
                                  }
                                }
                              }
                            </select>
                          </div>
                        </div>
                        @if (link.incentive?.isNew) {
                          <div class="field">
                            <input
                              class="input"
                              [ngClass]="{'is-danger': name.invalid}"
                              type="text"
                              [(ngModel)]="link.incentive.name"
                              name="name-{{i}}"
                              #name="ngModel"
                              required>
                            @if (name.invalid) {
                              <div>
                                @if (name.errors.required) {
                                  <p class="help is-danger"
                                  >{{'marathon.incentives.name.error.required' | translate}}</p>
                                }
                              </div>
                            }
                          </div>
                        }
                      </div>
                    </div>
                  </td>
                  <td><input class="input"
                    [ngClass]="{'is-danger': amount.invalid}"
                    type="number"
                    [(ngModel)]="link.amount"
                    name="amount-{{i}}"
                    [appMinNumberValidator]="1"
                    #amount="ngModel"
                    required>
                    @if (amount.invalid) {
                      <div>
                        @if (amount.errors.required) {
                          <p class="help is-danger"
                          >{{'marathon.donate.incentiveAmount.error.required' | translate}}</p>
                        }
                        @if (amount.errors.minNumber) {
                          <p class="help is-danger"
                          >{{'marathon.donate.incentiveAmount.error.minNumber' | translate}}</p>
                        }
                      </div>
                    }
                  </td>
                  <td>
                    <a (click)="removeLink(i)">
                      <i class="fa-solid fa-times"></i>
                    </a></td>
                  </tr>
                }
                <tr>
                  <td></td>
                  <td>
                    <p>{{ 'marathon.donate.incentives.left' | translate}}
                      <app-monetary-amount [amount]="getLeftAmount()"
                      [currency]="marathonService.marathon.donationCurrency"></app-monetary-amount>
                    </p>
                    @if (amounts.errors?.total) {
                      <p class="help is-danger"
                      >{{'marathon.donate.total.error.total' | translate}}</p>
                    }</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
            }
          }
          @if (donation.answers?.length > 0) {
            <div class="is-clearfix"></div>
            <hr/>
            <h4 class="title is-4">{{'marathon.donate.extra.title' | translate}}</h4>
            <p>{{'marathon.donate.extra.description' | translate}}</p>
            <h3 class="title is-3">{{'marathon.submit.details' | translate}}</h3>
            @for (answer of donation.answers; track answer; let i = $index) {
              <div class="field">
                @if (answer.question.fieldType !== 'CHECKBOX') {
                  <label for="answer{{i}}" class="label">{{answer.question.label}}</label>
                }
                @if (answer.question.fieldType === 'TEXT') {
                  <div class="control">
                    <input class="input"
                      type="text"
                      [(ngModel)]="answer.answer"
                      id="answer{{i}}"
                      name="answer{{i}}"
                      [ngClass]="{'is-danger': answerField.invalid}"
                      [required]="answer.question.required"
                      maxlength="50"
                      #answerField="ngModel">
                    <p class="help is-pulled-right">{{answer.answer?.length}}/50</p>
                    @if (answerField.invalid) {
                      <div>
                        @if (answerField.errors.required) {
                          <p class="help is-danger">
                          {{'marathon.submit.customField.error.required' | translate}}</p>
                        }
                      </div>
                    }
                  </div>
                }
                @if (answer.question.fieldType === 'TEXTAREA') {
                  <div class="control">
                    <textarea class="textarea"
                      rows=3
                      maxlength="500"
                      [(ngModel)]="answer.answer"
                      name="answer{{i}}"
                      [ngClass]="{'is-danger': answerField.invalid}"
                      [required]="answer.question.required"
                    #answerField="ngModel"></textarea>
                    <p class="help is-pulled-right">{{answer.answer?.length}}/500</p>
                    @if (answerField.invalid) {
                      <div>
                        @if (answerField.errors.required) {
                          <p class="help is-danger">
                          {{'marathon.submit.customField.error.required' | translate}}</p>
                        }
                      </div>
                    }
                  </div>
                }
                @if (answer.question.fieldType === 'SELECT') {
                  <div class="control">
                    <span class="select">
                      <select [(ngModel)]="answer.answer" name="answer{{i}}" #answerField="ngModel"
                        [ngClass]="{'is-danger': answerField.invalid}" [required]="answer.question.required">
                        @for (option of answer.question.options; track option) {
                          <option
                          [ngValue]="option">{{option}}</option>
                        }
                      </select>
                    </span>
                    @if (answerField.invalid) {
                      <div>
                        @if (answerField.errors.required) {
                          <p class="help is-danger">
                          {{'marathon.submit.customField.error.required' | translate}}</p>
                        }
                      </div>
                    }
                  </div>
                }
                @if (answer.question.fieldType === 'FREETEXT') {
                  <div class="control">
                    <app-oengus-md [data]="answer.question.description"></app-oengus-md>
                  </div>
                }
                @if (answer.question.fieldType === 'CHECKBOX') {
                  <div class="control">
                    <nwb-switch [(ngModel)]="answer.answer"
                      [required]="answer.question.required"
                      name="answer{{i}}"
                    #answerField="ngModel">{{answer.question.label}}</nwb-switch>
                    @if (answerField.invalid) {
                      <div>
                        @if (answerField.errors.required) {
                          <p class="help is-danger">
                          {{'marathon.submit.customField.error.required' | translate}}</p>
                        }
                      </div>
                    }
                  </div>
                }
              </div>
            }
          }
          @if (!marathonService.isArchived()) {
            <div class="field" [hidden]="form.invalid">
              <div class="control">
                <div class="box has-text-centered">
                  <div class="loader-wrapper" [ngClass]="{'is-active': loading}">
                    <div class="loader is-loading"></div>
                  </div>
                  <!--          <ngx-paypal [config]="this.paypalConfig"></ngx-paypal>-->
                </div>
              </div>
            </div>
          }
        </form>
      </div>
