<div class="message" [class]="messageClass">
  <div class="message-header">
    <a routerLink="." [fragment]="linkedRun">
      {{ messageHeaderTitle | translate: messageHeaderArgs }}
    </a>
  </div>
  <div class="message-body">
    <div class="run-info-container">
      <span *ngIf="ticker.setupBlock" class="info">
        {{ (ticker.setupBlockText || 'marathon.schedule.setupBlock' | translate) }}
      </span>
      <span *ngIf="ticker.gameName" class="info">
        {{ ticker.gameName }}
      </span>
      <span *ngIf="ticker.categoryName" class="info">
        {{ ticker.categoryName }}
      </span>
      <span *ngIf="ticker.console" class="info">
        {{ ticker.console }}
      </span>
    </div>
  </div>
</div>
