<!-- TODO: validation for inputs -->
<div class="columns is-mobile">
  <div class="column is-two-fifths">
    <div class="select is-fullwidth">
      <select name="platform" [(ngModel)]="connection.platform" [disabled]="disabled">
        <option value="" selected disabled hidden>{{ 'user.settings.connections.select_platform' | translate }}</option>
        @for (platform of parsedPlatforms | keyvalue; track platform) {
          <option [ngValue]="platform.key" [hidden]="platform.value.disabled">
            {{ 'platform.'+platform.key | translate }}
          </option>
        }
      </select>
    </div>
  </div>
  <div class="column is-two-fifths">
    <div class="control">
      <input class="input"
        type="text"
        [ngClass]="{'is-danger': username.invalid}"
        #username="ngModel"
        [disabled]="disabled"
        [pattern]="connectionMeta.regex"
        [attr.maxLength]="connectionMeta.maxLength"
        [placeholder]="'user.settings.connections.username' | translate"
        [(ngModel)]="connection.username"/>
    </div>

    @if (username.invalid) {
      <div>
        @for (error of username.errors | keyvalue; track error) {
          <p class="help is-danger">
            {{ 'marathon.settings.'+connection.platform.toLowerCase()+'.error.'+error.key | translate }}
          </p>
        }
      </div>
    }
  </div>
  <div class="column">
    <button type="button" (click)="deleteSelf.emit()"
      class="button is-danger is-fullwidth" [disabled]="disabled">
      <fa-icon [icon]="faTrash"></fa-icon>
    </button>
  </div>
</div>
@if (platforms[connection.platform]) {
  <p>
    {{ profileLink }}
  </p>
}
@if (disabled) {
  <p class="help">{{ 'user.settings.' + connection.platform.toLowerCase() + '.disabled.help' | translate }}</p>
}
