<button type="button"
        class="button is-primary"
        [class]="{ 'is-hidden': !shown }"
        (click)="openClonePopup()"
>
  Copy from existing schedule
</button>

<div class="modal is-active" *ngIf="open">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">
        Clone a schedule!
      </p>
      <button class="delete"
              type="button"
              aria-label="close"
              [disabled]="loading"
              (click)="cancelPopup()"></button>
    </header>
    <section class="modal-card-body">
      <p>In order to import lines from a different schedule you will first need to select one from the list below.</p>
      <p>Once you have selected a schedule from the dropdown below, please press "Import" to start the import process.</p>
      <p>If you change your mind, please press "Cancel".</p>

      <form class="mt-3">
        <div class="select" [class]="{
          'is-loading': loading,
        }">
          <select name="selectedSchedule" [(ngModel)]="cloneFromScheduleId" [disabled]="loading">
            <option *ngIf="loading; else selectIt;"
                    value="-1" disabled selected hidden>Loading....</option>
            <ng-template #selectIt>
              <option disabled selected value="-1" hidden>Select a schedule....</option>
            </ng-template>
            <option
              *ngFor="let schedule of schedules"
              [value]="schedule.id"
            >{{ schedule.name }}</option>
          </select>
        </div>
      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" [disabled]="loading" (click)="startImport()">
        Import
      </button>
      <button class="button is-warning" [disabled]="loading" (click)="cancelPopup()">
        {{ 'action.cancel' | translate }}
      </button>
    </footer>
  </div>
</div>

