<h1>Saved Speedrun settings</h1>

<div style="margin-bottom: 2em">
  <!-- TODO: hide text for supporters -->
  <p>If you are supporting Oengus on patreon you will be able to modify your saved runs here.</p>

  <!-- text for all -->
  <p>Saved speedruns can be shown off on your profile (toggleable in account settings) and autofillable when submitting
    to
    events.</p>

  <p>Any changes you make here might take <strong>24 hours</strong> to update on your profile. Do not worry, autofill is
    unaffected.</p>
</div>

<div class="box is-relative">
  <p class="is-pulled-left">{{ 'marathon.submit.table.games' | translate }}</p>
  <button
    type="button"
    class="button is-small is-primary is-pulled-left"
    style="margin-left: 5px"
    (click)="addGame()"
    [disabled]="!isSupporter"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
  <div class="is-clearfix"></div>

  <form action="" ngForm="submitForm" #form="ngForm">
    <fieldset [disabled]="!isSupporter">
      @for (game of games; track i; let i = $index;) {
        <hr class="has-background-grey"/>

        <button class="delete is-absolute" style="right: 10px;" (click)="removeGame(i)"></button>

        <app-game-editor
          [game]="game"
          (gameChange)="games[i] = $event; // TODO: this is dirty, find a better way of doing this"
          [index]="i"
        />

        <!-- Categories -->
        <p>
          {{'marathon.submit.table.categories' | translate}}
          <button type="button"
                  class="button is-small is-primary"
                  style="margin-left: 5px"
                  (click)="addCategory(i)"
                  [disabled]="game.categories.length >= maxCategories">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </p>

        <hr class="has-background-grey-darker"/>

        <div class="columns is-multiline">
          @for (category of game.categories; track j; let j = $index; ) {
            <div
              class="column is-relative is-full-touch"
              [ngClass]="{ 'is-half': (game.categories.length > 1 && !(j === game.categories.length - 1 && j % 2 === 0)) }"
            >
              <article class="message">
                <div class="message-body">

                  @if (game.categories.length > 1) {
                    <button class="delete is-absolute"
                            style="right: 25px;"
                            (click)="removeCategory(i, j)"
                    ></button>
                  }

                  <app-category-editor
                    [category]="category"
                    (categoryChange)="game.categories[j] = $event"
                    [gameId]="game.id"
                    [index]="j"
                    [gameIndex]="i"
                  />
                </div>
              </article>
            </div>
            <!--// .is-half-desktop
              // .is-full-mobile-->
          }
        </div>
      }
    </fieldset>
  </form>
</div>
