<h1>Saved Speedrun settings</h1>

<div style="margin-bottom: 2em">
  <!-- TODO: hide text for supporters -->
  <p>If you are supporting Oengus on patreon you will be able to modify your saved runs here.</p>

  <!-- text for all -->
  <p>Saved speedruns can be shown off on your profile (toggleable in account settings) and autofillable when submitting
    to
    events.</p>

  <p>Any changes you make here might take <strong>24 hours</strong> to update on your profile. Do not worry, autofill is
    unaffected.</p>
</div>

<div class="box is-relative">
  <p class="is-pulled-left">{{ 'marathon.submit.table.games' | translate }}</p>
  <button
    type="button"
    class="button is-small is-primary is-pulled-left"
    style="margin-left: 5px"
    (click)="addGame()"
    [disabled]="!isSupporter"
  >
    <fa-icon [icon]="faPlus"></fa-icon>
  </button>
  <div class="is-clearfix"></div>

  <form action="" ngForm="submitForm" #form="ngForm">
    <fieldset [disabled]="!isSupporter">
      @for (game of games; track `${game.id}-${i}`; let i = $index; ) {
        <hr class="has-background-grey"/>

        <button class="delete is-absolute" style="right: 10px;" (click)="removeGame(i)"></button>

        {{ game | json }}

        <app-game-editor
          [game]="game"
          (gameChange)="games[i] = $event; // TODO: this is dirty, find a better way of doing this"
          [index]="i"
        />

        <!-- Categories -->
        <p>
          {{'marathon.submit.table.categories' | translate}}
          <button type="button"
                  class="button is-small is-primary"
                  style="margin-left: 5px"
                  (click)="addCategory(i)"
                  [disabled]="game.categories.length >= maxCategories">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </p>

        <hr class="has-background-grey-darker"/>

        <div class="columns is-multiline">
          @for (category of game.categories; track category.id; let j = $index; ) {
            <div
              class="column is-relative is-full-touch"
              [ngClass]="{ 'is-half': (game.categories.length > 1 && !(j === game.categories.length - 1 && j % 2 === 0)) }"
            >
              <article class="message">
                <div class="message-body">

                  @if (game.categories.length > 1) {
                    <button class="delete is-absolute"
                            style="right: 25px;"
                            (click)="removeCategory(i, j)"
                    ></button>
                  }

                  <div class="columns is-multiline">
                    <div class="column is-6">

                      <div class="field">
                        <label for="categoryName{{i}}-{{j}}" class="label">
                          {{ 'marathon.submit.category.name.label' | translate }}
                        </label>

                        <div class="control">
                          <input
                            class="input"
                            type="text"
                            [(ngModel)]="category.name"
                            id="categoryName{{i}}-{{j}}"
                            name="categoryName{{i}}-{{j}}"
                            [ngClass]="{'is-danger': categoryName.invalid}"
                            required
                            maxlength="100"
                            #categoryName="ngModel"
                          />
                          <p class="help is-pulled-right">{{ category.name?.length }}/100</p>
                        </div>
                        @if (categoryName.invalid) {
                          <div>
                            @if (categoryName.errors.required) {
                              <p class="help is-danger">
                                {{ 'marathon.submit.category.name.error.required' | translate }}
                              </p>
                            }
                          </div>
                        }

                      </div>

                    </div>

                    <div class="column is-6">
                      <div class="field">
                        <label for="categoryName{{i}}-{{j}}" class="label">
                          {{ 'marathon.submit.category.estimate.label' | translate }}
                        </label>
                        <div class="control">
                          <input
                            class="input"
                            type="text"
                            [ngModel]="getCategoryEstimate(category)"
                            (ngModelChange)="setCategoryEstimate(category, $event)"
                            [ngModelOptions]="{ updateOn: 'blur' }"
                            id="categoryEstimate{{i}}-{{j}}"
                            name="categoryEstimate{{i}}-{{j}}"
                            placeholder="HH:MM:SS"
                            [ngClass]="{'is-danger': categoryEstimate.invalid}"
                            required
                            pattern="^(?:\d{1,3}):(?:[012345]\d):(?:[012345]\d)$"
                            [appMinDurationValidator]="1"
                            #categoryEstimate="ngModel"
                          />
                          <p class="help">{{ 'marathon.submit.category.estimate.hint' | translate }}</p>
                        </div>
                        @if (categoryEstimate.invalid) {
                          <div>
                            @if (categoryEstimate.errors.required) {
                              <p class="help is-danger">
                                {{ 'marathon.submit.category.estimate.error.required' | translate }}</p>
                            }
                            @if (categoryEstimate.errors.pattern) {
                              <p class="help is-danger">
                                {{ 'marathon.submit.category.estimate.error.pattern' | translate }}</p>
                            }
                            @if (categoryEstimate.errors.minDuration) {
                              <p class="help is-danger">
                                {{ 'marathon.submit.category.estimate.error.min' | translate }}</p>
                            }
                          </div>
                        }
                      </div>
                    </div>

                    <div class="column is-full">
                      <div class="field">
                        <label for="video{{i}}-{{j}}" class="label">
                          {{ 'marathon.submit.category.video.label' | translate }}
                        </label>
                        <div class="control">
                          <input
                            class="input"
                            type="url"
                            [(ngModel)]="category.video"
                            [ngClass]="{'is-danger': categoryVideo.invalid || !testVideo.checkValidity()}"
                            id="video{{i}}-{{j}}"
                            name="video{{i}}-{{j}}"
                            required
                            maxlength="100"
                            #categoryVideo="ngModel" #testVideo
                          />
                          <p class="help is-pulled-right">{{ category.video?.length }}/100</p>
                        </div>
                        @if (categoryVideo.invalid) {
                          <div>
                            @if (categoryVideo.errors.required) {
                              <p class="help is-danger">
                                {{ 'marathon.submit.category.video.error.required' | translate }}</p>
                            }
                          </div>
                        }
                        @if (!testVideo.checkValidity()) {
                          <p class="help is-danger">
                            {{ 'errors.format.url' | translate }}
                          </p>
                        }
                      </div>
                    </div>
                  </div>

                  <div class="field">
                    <label for="categoryDescription{{i}}-{{j}}" class="label">
                      {{ 'marathon.submit.category.description.label' | translate }}
                    </label>
                    <p class="help">{{ 'marathon.submit.category.description.help' | translate }}</p>
                    <div class="control">
                      <textarea
                        class="textarea"
                        rows=3
                        maxlength="300"
                        [(ngModel)]="category.description"
                        [ngClass]="{'is-danger': categoryDescription.invalid}"
                        id="categoryDescription{{i}}-{{j}}"
                        name="categoryDescription{{i}}-{{j}}"
                        required
                        #categoryDescription="ngModel"></textarea>
                      <p class="help is-pulled-right">{{ category.description?.length }}/300</p>
                    </div>
                    @if (categoryDescription.invalid) {
                      <div>
                        @if (categoryDescription.errors.required) {
                          <p class="help is-danger">
                            {{ 'marathon.submit.category.description.error.required' | translate }}</p>
                        }
                      </div>
                    }
                  </div>

                  <!-- clearfix to add a bit of space between the help texts and the bottom line -->
                  <div class="is-clearfix"></div>
                </div>
              </article>
            </div>
            <!--// .is-half-desktop
              // .is-full-mobile-->
          }
        </div>
      }
    </fieldset>
  </form>
</div>
