<section class="section container">
  <h1 class="title">Reset your password!</h1>

  <div class="notification is-danger" *ngIf="errorTranslationKey">
    <button class="delete" (click)="errorTranslationKey = null"></button>
    {{ errorTranslationKey | translate }}
  </div>

  <div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
      <form>
        <fieldset [disabled]="loading">

          <app-element-password-input [(password)]="newPassword"></app-element-password-input>

        </fieldset>
      </form>
    </div>
  </div>
</section>
