@use 'bulmaswatch/solar/variables' as vars;

:host {
  ::ng-deep {
    .fc-col-header-cell-cushion {
      color: vars.$grey-light !important;
      text-decoration: none !important;
      cursor: text;

      &:hover {
        color: vars.$grey-light !important;
      }
    }

    .fc-daygrid-day-number {
      color: vars.$grey-light !important;
      text-decoration: none !important;
      cursor: default;
    }
  }
}
