@import "~bulmaswatch/solar/variables";

h1 small {
  font-size: 0.5em;
  position: relative;
  top: -0.2em;
}

.validated {
  background-color: rgba($green, .3);
}

.bonus {
  background-color: rgba($info, .3);
}

.rejected {
  background-color: rgba($red, .3);
}

.backup {
  background-color: rgba($warning, .3);
}
