@use "bulmaswatch/solar/variables" as vars;

h1 small {
  font-size: 0.5em;
  position: relative;
  top: -0.2em;
}

.validated {
  background-color: rgba(vars.$green, .3);
}

.bonus {
  background-color: rgba(vars.$info, .3);
}

.rejected {
  background-color: rgba(vars.$red, .3);
}

.backup {
  background-color: rgba(vars.$warning, .3);
}
