<div class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img [src]="avatarUrl"/>
        <h1 class="title">
          {{localStorage.getItem('language') === 'ja' && !!user.usernameJapanese ? user.usernameJapanese : user.username}}
          <ng-template ngFor let-pronoun [ngForOf]="user.pronouns">
            <small>({{pronoun}}) </small>
          </ng-template>
        </h1>
        <small *ngIf="user.country">
          <span class="flag-icon flag-icon-{{user.country.toLowerCase()}}" style="margin-right: 1px;"></span>
          {{ 'country.' + user.country | translate }}
        </small>
        <p *ngIf="user.languagesSpoken.length">{{'user.profile.speak' | translate}}
          <ng-template ngFor let-language let-i="index" [ngForOf]="user.languagesSpoken">
            <small>{{'language.' + language | translate}}<span *ngIf="i + 1 < user.languagesSpoken.length">, </span></small>
          </ng-template>
        </p>
      </div>
    </div>
  </section>

  <div *ngIf="isAdmin() && !isSelf()" class="buttons">
    <hr/>
    <button class="button is-danger"
            (click)="unbanUser()"
            [disabled]="banLoading"
            [ngClass]="{'is-loading': banLoading}"
            *ngIf="user.banned else banUserTemplate">{{ 'user.profile.unban' | translate }}</button>
    <ng-template #banUserTemplate>
      <button class="button is-warning"
              [ngClass]="{'is-loading': banLoading}"
              [disabled]="banLoading"
              (click)="banUser()">{{ 'user.profile.ban' | translate }}</button>
    </ng-template>
    <button class="button is-warning"
            (click)="setActivated(true)"
            [ngClass]="{'is-loading': banLoading}"
            [disabled]="banLoading"
            *ngIf="user.enabled else deactivateUserTemplate">{{ 'user.profile.deactivate' | translate }}</button>
    <ng-template #deactivateUserTemplate>
      <button class="button is-warning"
              [ngClass]="{'is-loading': banLoading}"
              [disabled]="banLoading"
              (click)="setActivated(false)">{{ 'user.profile.activate' | translate }}</button>
    </ng-template>
  </div>

  <div *ngIf="user.connections.length">
    <hr/>
    <nav class="level">
      <app-connection *ngFor="let connection of user.connections"
                      class="level-item has-text-centered"
                      [connection]="connection">
      </app-connection>
    </nav>
    <hr/>
  </div>

  <div *ngIf="!!user.history && user.history.length > 0">
    <h4 class="title is-4">{{'user.profile.submissions' | translate}}</h4>
    <div class="is-pulled-right" style="margin-bottom: 0.5rem">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>{{'user.profile.filter.status.title' | translate}}</span>
            <span class="icon is-small">
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </span>
          </button>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item" *ngFor="let status of statusFilter; let i = index">
              <label class="checkbox">
                <input type="checkbox" name="status-{{i}}" [(ngModel)]="status.selected" (ngModelChange)="filter()">
                {{'marathon.selection.status.' + status.title | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown is-hoverable is-right" style="margin-left: 1rem">
        <div class="dropdown-trigger">
          <button class="button" aria-haspopup="true" aria-controls="dropdown-menu4">
            <span>{{'user.profile.filter.temporality.title' | translate}}</span>
            <span class="icon is-small">
            <fa-icon [icon]="faAngleDown"></fa-icon>
          </span>
          </button>
        </div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <div class="dropdown-item" *ngFor="let date of dateFilter; let i = index">
              <label class="checkbox">
                <input type="checkbox" name="temporality-{{i}}" [(ngModel)]="date.selected" (ngModelChange)="filter()">
                {{'user.profile.filter.temporality.' + date.title | translate}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table class="table is-fullwidth">
      <thead>
      <tr>
        <th>{{ 'marathon.submissions.table.marathon' | translate}}</th>
        <th>{{ 'marathon.submissions.table.game' | translate}}</th>
        <th>{{ 'marathon.submissions.table.category' | translate}}</th>
        <th>{{ 'marathon.submissions.table.estimate' | translate}}</th>
        <th>{{ 'marathon.submissions.table.status' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-marathon [ngForOf]="user.history" let-i="index">
        <ng-template ngFor let-game [ngForOf]="marathon.games" let-j="index">
          <ng-template ngFor let-category [ngForOf]="game.categories" let-k="index">
            <tr *ngIf="category.visible && marathon.visible">
              <ng-template [ngIf]="j === firstDisplayed(marathon.games) && k === firstDisplayed(game.categories)">
                <td [attr.rowspan]="visibleGames(marathon)" class="{{marathon.status}}">
                  <a [routerLink]="'/marathon/' + marathon.marathonId">{{marathon.marathonName}}</a>
                  ({{moment(marathon.marathonStartDate).fromNow()}})
                </td>
              </ng-template>
              <ng-template [ngIf]="k === firstDisplayed(game.categories)">
                <td [attr.rowspan]="visibleCategories(game)" class="{{game.status}}">
                  {{game.name}}
                </td>
              </ng-template>
              <td class="{{category.status.toLowerCase()}}">
                {{category.name}}
              </td>
              <td class="{{category.status.toLowerCase()}}">
                {{category.estimateHuman}}
              </td>
              <td class="{{category.status.toLowerCase()}}">
                {{'marathon.selection.status.' + category.status | translate}}
              </td>
            </tr>
          </ng-template>
        </ng-template>
      </ng-template>
      </tbody>
    </table>
  </div>

  <div *ngIf="!!user.moderatedMarathons && user.moderatedMarathons.length > 0">
    <br/>
    <h4 class="title is-4">{{'user.profile.moderator' | translate}}</h4>
    <div class="list is-hoverable">
      <span class="list-item" *ngFor="let marathon of user.moderatedMarathons">
        <a [routerLink]="'/marathon/' + marathon.id">{{marathon.name}}</a>
          ({{moment(marathon.startDate).fromNow()}})
      </span>
    </div>
  </div>
</div>
