<app-publish-warning-modal
  *ngIf="warningModalActive"
  (publishConfirm)="handlePublishCallback($event)"></app-publish-warning-modal>

<h1 class="title">
  {{ 'marathon.schedule.management.settings.editTitle' | translate: { scheduleName: scheduleInfo.name } }}
</h1>

<!-- TODO: add a back button AND an export button -->

<div>
  <form (ngSubmit)="submit()" #infoForm="ngForm">
    <div class="field">
      <label for="sched_name" class="label">
        {{ 'marathon.schedule.management.settings.name.label' | translate }}
      </label>
      <div class="control">
        <input class="input"
               [ngClass]="{'is-danger': name.invalid}"
               [(ngModel)]="scheduleInfo.name"
               type="text"
               name="name"
               id="sched_name"
               placeholder="My Schedule"
               maxlength="50"
               minlength="1"
               pattern="^[a-zA-Z0-9_\- ]{1,50}$"
               required
               #name="ngModel"
        />
        <p class="help is-pulled-right">{{scheduleInfo.name?.length}}/50</p>
      </div>

      <div *ngIf="name.invalid">
        <p class="help is-danger" *ngIf="name.errors.required">
          {{ 'marathon.schedule.management.settings.name.error.required' | translate }}
        </p>
        <p class="help is-danger" *ngIf="name.errors.minlength">
          {{ 'marathon.schedule.management.settings.name.error.min' | translate }}
        </p>
        <p class="help is-danger" *ngIf="name.errors.maxlength">
          {{ 'marathon.schedule.management.settings.name.error.max' | translate }}
        </p>
        <p class="help is-danger" *ngIf="name.errors.pattern">
          {{ 'marathon.schedule.management.settings.name.error.pattern' | translate }}
        </p>
      </div>
    </div>

    <label class="label">
      {{ 'marathon.schedule.management.settings.slug.label' | translate }}
    </label>
    <div class="field">
      <div class="field has-addons is-marginless">
        <div class="control">
          <a class="button is-static">
            {{env.baseSite}}/marathon/{{ marathonId }}/schedule/
          </a>
        </div>
        <div class="control is-expanded">
          <input class="input"
                 [ngClass]="{'is-danger': slug.invalid}"
                 type="text"
                 [(ngModel)]="scheduleInfo.slug"
                 name="id"
                 maxlength="255"
                 minlength="1"
                 pattern="^[\w\-]{1,255}$"
                 required
                 #slug="ngModel"
                 [appScheduleSlugExistsValidator]="oldSlug"
          />
        </div>
      </div>
      <p class="help is-pulled-right">{{scheduleInfo.slug?.length}}/10</p>
      <div *ngIf="slug.invalid">
        <p class="help is-danger" *ngIf="slug.errors.required">
          {{ 'marathon.schedule.management.settings.slug.error.required' | translate }}
        </p>
        <p class="help is-danger" *ngIf="slug.errors.minlength">
          {{ 'marathon.schedule.management.settings.slug.error.min' | translate }}
        </p>
        <p class="help is-danger" *ngIf="slug.errors.maxlength">
          {{ 'marathon.schedule.management.settings.slug.error.max' | translate }}
        </p>
        <p class="help is-danger" *ngIf="slug.errors.exists">
          {{ 'marathon.schedule.management.settings.slug.error.exists' | translate }}
        </p>
        <p class="help is-danger" *ngIf="slug.errors.pattern">
          {{ 'marathon.schedule.management.settings.slug.error.pattern' | translate }}
        </p>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <input
          class="input"
          type="text"
          [value]="env.shortUrl + '/' + marathonId + '/' + scheduleInfo.slug"
          readonly
        />
      </div>
      <p class="help">{{ 'marathon.new.shortDomain' | translate}}</p>
    </div>


    <div class="field">
      <p class="help">{{'marathon.schedule.management.help.save' | translate}}</p>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link"
                [ngClass]="{'is-loading': loading}"
                type="submit"
                [disabled]="infoForm.invalid">
          {{'action.save' | translate}}
        </button>
      </div>

      <div class="control">
        <!-- TODO: do the confirm dialog as well? -->
        <button *ngIf="!scheduleInfo.published"
                type="button"
                class="button is-success"
                [ngClass]="{'is-loading': loading}"
                (click)="warningModalActive = true">
          {{'marathon.schedule.management.action.publish' | translate}}
        </button>

        <button *ngIf="scheduleInfo.published"
                type="button"
                class="button is-success"
                [ngClass]="{'is-loading': loading}"
                disabled>
          {{'marathon.schedule.management.action.alreadyPublished' | translate}}
        </button>
      </div>
    </div>
  </form>

</div>

<hr>

<div>
  <p>If this schedule has lines they should be editable here, but I am too scared to turn this into a good UI.</p>
  <p>The submissions should also be loaded in just like the old ui</p>
  <p>But for now, here is a OL</p>

  <ol>
    <li *ngFor="let line of lines">
      {{ line.id }} -
      {{ line.game ?? line.setupBlockText ?? 'Setup block' }} -
      {{ line.category ?? 'No category' }} -
      {{ line.setupBlock }}
    </li>
  </ol>
</div>
