<h1 class="title">{{ 'marathon.schedule.management.title' | translate}}</h1>

<div>
  <p>
    {{ 'marathon.schedule.management.overview.scheduleCount' | translate: { total: schedules.length, maxSchedules: maxScheduleCount } }}
  </p>

  <br>

  <p>
    {{ 'marathon.schedule.management.overview.title' | translate: { 'create-new': '' } }}
    @if ((isSponsor && schedules.length < 4) || schedules.length === 0) {
      <a [routerLink]="'../new' | localize"
        class="button is-success">
        {{ 'marathon.schedule.management.overview.create-new' | translate }}
      </a>
    } @else {
      <button type="button" class="button is-success" disabled>
        {{ 'marathon.schedule.management.overview.create-new' | translate }}
      </button>
    }
  </p>

  @if (!isSponsor) {
    <p class="help">
      <strong>{{ 'marathon.schedule.management.help.patronNudge' | translate}}</strong>
    </p>
  }
</div>

<hr>

  @if (schedules.length) {
    <h2 class="title">{{ 'marathon.schedule.management.overview.scheduleHeader' | translate }}</h2>
    @for (schedule of schedules; track schedule) {
      <ul class="schedule-list">
        <li class="mb-2">
          <p>{{ schedule.name }}:</p>
          <div class="buttons">
            <a class="button is-info" [routerLink]="'../' + schedule.id | localize" >{{ 'action.edit' | translate }}</a>
            <button (click)="deleteSchedule(schedule)" type="button" class="button is-danger">{{ 'action.delete' | translate }}</button>
          </div>
        </li>
      </ul>
    }
  } @else {
    <p>{{ 'marathon.schedule.management.overview.nothingFound' | translate }}</p>
  }
