<div>
  <p appTranslatedContent="marathon.schedule.management.overview.title">
    <a [routerLink]="'../new' | localize"
       *appTranslatedElement="'create-new'"
       class="button is-success">{{ 'marathon.schedule.management.overview.create-new' | translate }}</a>
  </p>
</div>

<hr>

<ng-template
  [ngIf]="schedules.length"
  [ngIfElse]="noSchedules"
>
  <h2 class="title">{{ 'marathon.schedule.management.overview.scheduleHeader' | translate }}</h2>
  <ul *ngFor="let schedule of schedules" class="schedule-list">
    <li class="mb-2">
      <p>{{ schedule.name }}:</p>

      <div class="buttons">
        <a class="button is-info" [routerLink]="'../' + schedule.id | localize" >{{ 'action.edit' | translate }}</a>
        <button (click)="deleteSchedule(schedule)" type="button" class="button is-danger">{{ 'action.delete' | translate }}</button>
      </div>
    </li>
  </ul>
</ng-template>
<ng-template #noSchedules>
  <p>{{ 'marathon.schedule.management.overview.nothingFound' | translate }}</p>
</ng-template>
