@use 'bulmaswatch/solar/variables' as vars;

.modal-card {
  position: relative;
  background-color: vars.$grey-darker;
}

.modal-card:before  {
  content: ' ';
  opacity: 0.4;
  position: absolute;
  background-image:url("/assets/livesplit.png");
  background-repeat: no-repeat;
  background-position: 100% 135%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.modal-card-body {
  position: relative;
  background: none;
}

a.button {
  text-decoration: none;
}

input[name=deleteShortname] {
  margin-bottom: 1rem;
}

.delete-account-btn {
  margin-left: 0.5rem;
}

.del-cancel {
  margin-left: 1rem;
}
