<div class="modal" [ngClass]="{ 'is-active': deleteConfirm }">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ 'user.settings.deletingAccount.title' | translate }}</p>
    </header>
    <section class="modal-card-body">
      <h5 class="title">{{ 'user.settings.deletingAccount.body.0' | translate }}</h5>
      <p>{{ 'user.settings.deletingAccount.body.1' | translate }}</p>
      <p>{{ 'user.settings.deletingAccount.body.2' | translate }}</p>
      <br />
      <input class="input"
             type="text"
             [(ngModel)]="deleteUsername"
             name="deleteShortname" style="margin-bottom: 1rem">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-warning"
              (click)="deleteUser()"
              [disabled]="!usernameConfirmed"
              [ngClass]="{ 'is-loading': loading }">
        {{ 'user.settings.deletingAccount.btnDelete' | translate }}
      </button>
      <button class="button is-success"
              (click)="deleteConfirm = false; deleteUsername = ''"
              [ngClass]="{ 'is-loading': loading }">
        {{ 'user.settings.deletingAccount.btnCancel' | translate }}
      </button>
    </footer>
  </div>
</div>

<div class="container">
  <h1 class="title">{{'user.settings.title' | translate}}</h1>

  <form ngForm="userForm"
        #form="ngForm">
    <h4 class="title is-4">{{'user.settings.general' | translate}}</h4>
    <!-- username -->
    <div class="field">
      <label class="label">{{'user.settings.username.label' | translate}}</label>
      <div class="control">
        <input class="input"
               [ngClass]="{'is-danger': username.invalid}"
               type="text"
               [(ngModel)]="user.username"
               name="username"
               #username="ngModel"
               minlength="3"
               maxlength="32"
               pattern="^[\w\-]{3,32}$"
               appUsernameExistsValidator
               required>
      </div>
      <div *ngIf="username.invalid">
        <p class="help is-danger"
           *ngIf="username.errors.minlength">{{'user.settings.username.error.min' | translate}}</p>
        <p class="help is-danger"
           *ngIf="username.errors.maxlength">{{'user.settings.username.error.max' | translate}}</p>
        <p class="help is-danger"
           *ngIf="username.errors.exists">{{'user.settings.username.error.exists' | translate}}</p>
        <p class="help is-danger"
           *ngIf="username.errors.required">{{'user.settings.username.error.required' | translate}}</p>
        <p class="help is-danger"
           *ngIf="username.errors.pattern">{{'user.settings.username.error.pattern' | translate}}</p>
      </div>
    </div>
    <!-- username Japanese -->
    <div class="field">
      <label class="label">{{'user.settings.usernameJapanese.label' | translate}}</label>
      <div class="control">
        <input class="input"
               [ngClass]="{'is-danger': usernameJapanese.invalid}"
               type="text"
               [(ngModel)]="user.usernameJapanese"
               name="usernameJapanese"
               #usernameJapanese="ngModel"
               appUsernameJapaneseExistsValidator
               maxlength="32">
      </div>
      <p class="help">{{'user.settings.usernameJapanese.help' | translate}}</p>
      <div *ngIf="usernameJapanese.invalid">
        <p class="help is-danger"
           *ngIf="usernameJapanese.errors.maxlength">{{'user.settings.usernameJapanese.error.max' | translate}}</p>
        <p class="help is-danger"
           *ngIf="usernameJapanese.errors.pattern">{{'user.settings.usernameJapanese.error.pattern' | translate}}</p>
        <p class="help is-danger"
           *ngIf="usernameJapanese.errors.exists">{{'user.settings.usernameJapanese.error.exists' | translate}}</p>
      </div>
    </div>
    <!-- email -->
    <div class="field">
      <label class="label">{{'user.settings.email.label' | translate}}</label>
      <div class="control">
        <input class="input" [ngClass]="{'is-danger': mail.invalid}" type="email" [(ngModel)]="user.mail" name="mail"
               #mail="ngModel" email required>
      </div>
      <p class="help" [innerHTML]="'user.settings.email.help' | translate"></p>
      <div *ngIf="mail.invalid">
        <p class="help is-danger" *ngIf="mail.errors.email">{{'user.settings.email.error.email' | translate}}</p>
        <p class="help is-danger" *ngIf="mail.errors.required">{{'user.settings.email.error.required' | translate}}</p>
      </div>
    </div>
    <!-- pronouns -->
    <div class="field">
      <label class="label">{{'user.settings.pronouns.title' | translate}}</label>
      <div class="control">
        <input id="pronouns"
               class="input"
               type="text"
               name="pronouns"
               [value]="user.pronouns"
               ngModel #pronouns
        />
        <p class="help" [innerHTML]="'user.settings.pronouns.help' | translate"></p>
      </div>
    </div>
    <!-- country -->
    <div class="field">
      <label class="label">Country</label>
      <div class="select is-fullwidth">
        <select name="platform" [(ngModel)]="user.country">
          <option [value]="null" selected>{{ 'global.non_select' | translate }}</option>
          <option [ngValue]="country" *ngFor="let country of countries">
            {{'country.' + country | translate}}
          </option>
        </select>
      </div>
    </div>
    <!-- languages -->
    <div class="field">
      <label class="label">{{'user.settings.language.label' | translate}}</label>
      <div class="control">
        <input id="languages"
               class="input"
               type="text"
               name="languages"
               [value]="user.languagesSpoken"
               ngModel #languages
        />
      </div>
    </div>
    <article class="message">
      <div class="message-header">
        <p>
          {{ 'user.settings.connections.title' | translate }} <br/>
          <small>{{ 'user.settings.connections.subtitle' | translate }}</small>
        </p>
      </div>
      <div class="message-body">
        <p class="pb-2">{{ 'user.settings.connections.visibility' | translate }}</p>
        <div class="row">
          <app-connection-settings *ngFor="let connection of user.connections"
                                   class="column is-full"
                                   [connection]="connection"
                                   [discordId]="user.discordId"
                                   [twitchId]="user.twitchId"
                                   [twitterId]="user.twitterId"
                                   (deleteSelf)="deleteConnection(connection)"
          ></app-connection-settings>
        </div>
        <button type="button" (click)="addNewConnection()" class="button is-success is-outlined is-fullwidth">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </div>
    </article>
    <hr/>
    <h4 class="title is-4">{{'user.settings.accountSync.title' | translate}}</h4>
    <p>{{'user.settings.accountSync.description' | translate}}</p>
    <br/>
    <app-sync-button [synced]="!!user.discordId"
                     [username]="getUsernameByConnectionType('DISCORD')"
                     title="Discord"
                     (sync)="syncDiscord()"
                     (unsync)="unsyncDiscord()">
    </app-sync-button>
    <app-sync-button [synced]="!!user.twitchId"
                     [username]="getUsernameByConnectionType('TWITCH')"
                     title="Twitch"
                     (sync)="syncTwitch()"
                     (unsync)="unsyncTwitch()">
    </app-sync-button>
    <app-sync-button [synced]="!!user.patreonId"
                     username=""
                     title="Patreon"
                     (sync)="syncPatreon()"
                     (unsync)="unsyncPatreon()">
    </app-sync-button>
    <app-sync-button [synced]="!!user.twitterId"
                     [username]="getUsernameByConnectionType('TWITTER')"
                     title="Twitter"
                     (sync)="syncTwitter()"
                     (unsync)="unsyncTwitter()">
    </app-sync-button>
    <p class="help is-danger"
       *ngIf="!user.discordId && !user.twitchId && !user.twitterId">{{'user.settings.accountSync.error.noService' | translate}}</p>
    <div class="field">
      <div class="control">
        <button class="button is-link"
                [ngClass]="{'is-loading': loading}"
                type="button"
                (click)="submit()"
                [disabled]="form.invalid || (!user.discordId && !user.twitchId && !user.twitterId)">{{'action.save' |
          translate}}
        </button>
      </div>
    </div>
    <hr/>
    <h4 class="title is-4">{{'user.settings.deactivateAccount.title' | translate}}</h4>
    <p>{{'user.settings.deactivateAccount.description' | translate}}</p>
    <br/>
    <div class="field">
      <div class="buttons">
        <div class="control" *ngIf="!deactivateConfirm">
          <button class="button is-danger is-outlined" type="button" (click)="deactivateConfirm = true">
            {{ 'user.settings.deactivateAccount.action' | translate}}
          </button>
        </div>
        <div class="control" *ngIf="deactivateConfirm">
          <p class="help">{{ 'user.settings.deactivateAccount.confirmText' | translate}}</p>
          <input class="input"
                 type="text"
                 [(ngModel)]="deleteUsername"
                 name="deleteShortname" style="margin-bottom: 1rem">
          <br>
          <button class="button is-primary" type="button"
                  [ngClass]="{'is-loading': loading}"
                  [disabled]="!usernameConfirmed" (click)="deactivate()">
            {{'action.confirm' | translate}}
          </button>
          <button class="button is-danger" type="button" (click)="deactivateConfirm = false"
                  [ngClass]="{'is-loading': loading}"
                  style="margin-left: 1rem">
            {{'action.cancel' | translate}}
          </button>
        </div>

        <!-- DELETING account -->
        <div class="control" style="margin-left: 0.5rem">
          <button class="button is-danger" type="button" [disabled]="deleteConfirm" (click)="deleteConfirm = true">
            {{ 'user.settings.deletingAccount.settingsDeleteBtn' | translate }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
