<footer class="footer">
  <div class="content has-text-centered">
    <p>
      {{ 'footer.text' | translate:  { timezone: temporal.timeZone.timeZone } }}
    </p>
    <app-footer-patrons></app-footer-patrons>
    <br>
    <p>
      &copy; <span>2018-{{ thisYear }} </span> <!-- space is needed inside of the span because angular -->
      <a href="https://dhgmedia.nl/?ref=oengus" target="_blank">DHG Media</a>
      <!--&mdash; Oengus and all branding assets are owned by <a href="https://dhgmedia.nl/?ref=oengus" target="_blank">DHG Media</a>-->
    </p>
  </div>

  <div class="content has-text-centered">
    <p>
      <a routerLink="/privacy-policy">{{ 'aboutPage.privacy.title' | translate }}</a>
      &mdash;
      <a href="https://docs.oengus.io/" target="_blank">API Documentation</a>
      &mdash;
      <span>Version {{ version }}</span>
    </p>
  </div>
</footer>
