<h1 class="title">{{ 'marathon.incentives.management.title' | translate}}</h1>

@if (!schedule || !schedule.lines || schedule.lines.length === 0) {
  <div class="notification is-danger has-text-centered"
    >
    {{'marathon.incentives.management.noSchedule' | translate}}
  </div>
}

@if (!!schedule && !!schedule.lines && schedule.lines.length > 0) {
  <div>
    <form ngForm="incentivesForm" (ngSubmit)="submit()" #form="ngForm">
      <table class="table is-fullwidth is-striped">
        <thead>
          <tr>
            <th>{{ 'marathon.incentives.management.table.game' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.incentive' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.description' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.currentAmount' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.goal' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.isBidWar' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.locked' | translate}}</th>
            <th>{{ 'marathon.incentives.management.table.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          @for (incentive of incentives; track incentive; let i = $index) {
            @if (!incentive.toDelete) {
              <tr>
                <td [attr.rowspan]="incentive.bidWar ? (countNotDeletedBids(incentive) + 1) : 1">
                  <div class="select">
                    <select [(ngModel)]="incentive.scheduleLine" name="language{{i}}" [compareWith]="byId"
                      [disabled]="incentive.locked">
                      @for (scheduleLine of schedule.lines; track scheduleLine) {
                        <option
                        [ngValue]="scheduleLine">{{scheduleLine.gameName}} - {{scheduleLine.categoryName}}</option>
                      }
                    </select>
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <input class="input"
                        type="text"
                        [(ngModel)]="incentive.name"
                        [disabled]="incentive.locked"
                        name="incentiveName{{i}}"
                        [ngClass]="{'is-danger': incentiveName.invalid}"
                        required
                        maxlength="50"
                        #incentiveName="ngModel">
                      <p class="help is-pulled-right">{{incentive.name?.length}}/50</p>
                    </div>
                    @if (incentiveName.invalid) {
                      <div>
                        @if (incentiveName.errors.required) {
                          <p class="help is-danger">
                          {{'marathon.incentives.management.name.error.required' | translate}}</p>
                        }
                      </div>
                    }
                  </div>
                </td>
                <td>
                  <div class="field">
                    <div class="control">
                      <textarea class="textarea"
                        rows=3
                        maxlength="300"
                        [(ngModel)]="incentive.description"
                        [disabled]="incentive.locked"
                        required
                        name="incentiveDescription{{i}}"
                        [ngClass]="{'is-danger': incentiveDescription.invalid}"
                      #incentiveDescription="ngModel"></textarea>
                      <p class="help is-pulled-right">{{incentive.description?.length}}/300</p>
                    </div>
                  </div>
                </td>
                <td>
                  @if (!incentive.bidWar) {
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          type="number"
                          [(ngModel)]="incentive.currentAmount"
                          [disabled]="incentive.locked || marathonService.marathon.hasDonations"
                          name="currentAmount{{i}}"
                          [ngClass]="{'is-danger': currentAmount.invalid}"
                          [required]="!incentive.bidWar"
                          min="0"
                          #currentAmount="ngModel">
                      </div>
                      @if (currentAmount.invalid) {
                        <div>
                          @if (currentAmount.errors?.required) {
                            <p class="help is-danger">
                            {{'marathon.incentives.management.currentAmount.error.required' | translate}}</p>
                          }
                        </div>
                      }
                    </div>
                  }
                </td>
                <td>
                  @if (!incentive.bidWar) {
                    <div class="field">
                      <div class="control">
                        <input class="input"
                          type="number"
                          [(ngModel)]="incentive.goal"
                          [disabled]="incentive.locked"
                          name="goal{{i}}"
                          [ngClass]="{'is-danger': goal.invalid}"
                          [required]="!incentive.bidWar"
                          min="0"
                          #goal="ngModel">
                      </div>
                      @if (goal.invalid) {
                        <div>
                          @if (goal.errors?.required) {
                            <p class="help is-danger">
                            {{'marathon.incentives.management.goal.error.required' | translate}}</p>
                          }
                        </div>
                      }
                    </div>
                  }
                </td>
                <td>
                  <div class="control is-flex">
                    <span class="mr-1">{{ 'marathon.incentives.management.donationGoal' | translate}}</span>
                    <nwb-switch [(ngModel)]="incentive.bidWar" name="isBidWar{{i}}" [disabled]="incentive.locked">
                      <span>{{ 'marathon.incentives.management.bidWar' | translate}}</span>
                    </nwb-switch>
                  </div>
                  @if (incentive.bidWar) {
                    <div class="control">
                      <nwb-switch [(ngModel)]="incentive.openBid" name="openBid{{i}}" [disabled]="incentive.locked">
                        <span>{{ 'marathon.incentives.management.openBid' | translate}}</span>
                      </nwb-switch>
                    </div>
                  }
                </td>
                <td>
                  <nwb-switch [(ngModel)]="incentive.locked" name="isLocked{{i}}">
                  </nwb-switch>
                </td>
                <td>
                  @if (incentive.bidWar) {
                    <a (click)="addBid(i)" class="mr-1">
                      <i class="fa-solid fa-plus"></i>
                    </a>
                  }
                  <a (click)="incentive.toDelete = true">
                    <i class="fa-solid fa-times"></i>
                  </a>
                </td>
              </tr>
            }
            @if (incentive.bidWar && !incentive.toDelete) {
              @for (bid of incentive.bids; track bid; let j = $index) {
                @if (!bid.toDelete) {
                  <tr [ngClass]="{'is-emphasized': !bid.approved}">
                    <td>
                      <div class="field">
                        <div class="control">
                          <input class="input"
                            type="text"
                            [(ngModel)]="bid.name"
                            name="bidName{{i}}-{{j}}"
                            [disabled]="incentive.locked"
                            [ngClass]="{'is-danger': bidName.invalid}"
                            required
                            maxlength="50"
                            #bidName="ngModel">
                          <p class="help is-pulled-right">{{bid.name?.length}}/50</p>
                        </div>
                        @if (bidName.invalid) {
                          <div>
                            @if (bidName.errors.required) {
                              <p class="help is-danger">
                              {{'marathon.incentives.management.bidName.error.required' | translate}}</p>
                            }
                          </div>
                        }
                      </div>
                    </td>
                    <td></td>
                    <td>
                      <div class="field">
                        <div class="control">
                          <input class="input"
                            type="number"
                            [(ngModel)]="bid.currentAmount"
                            [disabled]="incentive.locked || marathonService.marathon.hasDonations"
                            name="bidCurrentAmount{{i}}-{{j}}"
                            [ngClass]="{'is-danger': bidCurrentAmount.invalid}"
                            required
                            min="0"
                            #bidCurrentAmount="ngModel">
                        </div>
                        @if (bidCurrentAmount.invalid) {
                          <div>
                            @if (bidCurrentAmount.errors?.required) {
                              <p class="help is-danger">
                              {{'marathon.incentives.management.currentAmount.error.required' | translate}}</p>
                            }
                          </div>
                        }
                      </div>
                    </td>
                    <td colspan="3"></td>
                    <td>
                      @if (!bid.approved) {
                        <a (click)="bid.approved = true" class="mr-1"
                          [nwbToolTip]="'marathon.incentives.management.approveBid' | translate" [nwbToolTipIsMultiline]="true"
                          nwbToolTipPosition="left">
                          <i class="fa-solid fa-check"></i>
                        </a>
                      }
                      <a (click)="removeBid(i,j)">
                        <i class="fa-solid fa-times"></i>
                      </a>
                    </td>
                  </tr>
                }
              }
            }
          }
        </tbody>
      </table>
      <button class="button is-primary is-pulled-right submitBtn" [ngClass]="{'is-loading': loading}"
      type="submit" [disabled]="form.invalid">{{'action.submit' | translate}}</button>
      <button class="button is-info is-pulled-right" (click)="addIncentive()"
      type="button">{{'marathon.incentives.management.action.add' | translate}}</button>
    </form>
  </div>
}
