@import 'bulmaswatch/solar/variables';

:host {
  padding: 1rem 0;
  display: flex;
  align-items: center;

  &.is-horizontal {
    flex-direction: column;
  }

  &.is-vertical {
    flex-direction: row;
  }

  .patreon-nudge, .empty-space {
    padding: 10px;
    border: $border 2px solid;
    border-radius: 10px;
    position: relative;

    .join-patreon {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.spacer {
  height: calc(5 * var(--spacing) / 2);
  width: calc(5 * var(--spacing) / 2);
}

ng-adsense .adsbygoogle {
  // Dynamic logic lets AdSense pick from more advertisement options
  height: 100%;
  min-height: 50px;
  max-height: 100px;
  width: 100%;
  min-width: 300px;
  max-width: 728px;

  background: white;

  &.is-horizontal {
    margin-block: var(--spacing);
    min-height: 50px;
    max-height: 100px;
    min-width: 300px;
    max-width: 728px;
  }

  &.is-vertical {
    margin-inline: var(--spacing);
    min-height: 200px;
    max-height: 1050px;
    min-width: 100px;
    max-width: 300px;
  }

  &.is-shown + .spacer {
    display: none;
  }

  @media (max-width: 1023px) {
    & {
      max-width: 320px;
    }
  }

  &[data-ad-status="unfilled"] {
    display: none !important;

    + .spacer {
      display: block;
    }
  }
}
