@import '~bulmaswatch/solar/variables';

$bar_height: 5px;

.loading-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $bar_height;
  overflow: hidden;
  background-color: $grey-light;
  z-index: 100;

  &:before {
    display: block;
    position: absolute;
    content: " ";
    left: -200px;
    width: 200px;
    height: $bar_height;
    background-color: $primary;
    animation: loading 2s linear infinite;
  }
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

.navbar {
  margin-bottom: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.content-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  flex-grow: 1;
  flex-shrink: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.privacy-consent {
  padding: 0.5rem 0;
}
