<div *ngIf="loading" class="loading-bar"></div>
<div class="wrapper">
  <div class="privacy-consent has-background-dark is-flex-desktop"
       style="justify-content: space-between"
       *ngIf="!consentWasGiven()">
    <p class="navbar-item">
      {{'navbar.privacyConsent' | translate}}
    </p>
    <div class="field is-grouped" style="padding: 0 0.75rem">
      <p class="control">
        <a class="button is-success" (click)="acceptPrivacyConsent()">
          {{'action.accept' | translate}}
        </a>
      </p>
      <p class="control">
        <a class="button is-danger" (click)="declinePrivacyConsent()">
          {{'action.decline' | translate}}
        </a>
      </p>
    </div>
  </div>

  <div class="privacy-consent has-background-dark is-flex-desktop"
       style="justify-content: space-between"
       *ngIf="showKasperskyBanner()">
    <p class="navbar-item" style="align-items: center;">
      <a href="https://www.kaspersky.com/?ref=oengus.io" target="_blank" style="height: 18px; margin-top: 2px; margin-right: 10px;">
        <img src="assets/kaspersky_logo.png" alt="Kaspersky" style="height: 18px"/>
      </a>
      {{ 'homepage.sponsors.kaspersky.banner' | translate}}
    </p>
    <div class="field is-grouped" style="padding: 0 0.75rem">
      <p class="control">
        <a class="button is-light" routerLink="/news/kaspersky-partnership">
          Read more
        </a>
      </p>
      <p class="control">
        <a class="button is-primary" (click)="closeKasperskyBanner()">
          Close
        </a>
      </p>
    </div>
  </div>

  <div class="privacy-consent has-background-white is-flex-desktop"
       style="height: 100px;"
       *ngIf="isBlockingAds()">
    <p class="navbar-item has-text-dark">
      <span>{{ 'global.adblocker' | translate }}</span>
    </p>
  </div>

  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" routerLink="/">
        <img src="assets/Oengus.png" style="margin-right: 0.5rem">
        Oengus<span *ngIf="environment.sandbox">.sandbox</span>
      </a>

      <a role="button"
         (click)="toggleNavbar()"
         class="navbar-burger burger"
         aria-label="menu"
         aria-expanded="false"
         data-target="navbarBasicExample"
         #navBurger>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu" #navMenu>
      <div class="navbar-start">
        <div class="navbar-item">
          <div class="field is-grouped">
            <a class="navbar-item" href="https://discord.gg/ZZFS8YT" target="_blank"
               [nwbToolTip]="'navbar.discord' | translate" nwbToolTipPosition="bottom">
              <fa-icon [icon]="faDiscord"></fa-icon>
            </a>
            <a class="navbar-item" href="https://twitter.com/OengusIO" target="_blank"
               [nwbToolTip]="'navbar.twitter' | translate" nwbToolTipPosition="bottom">
              <fa-icon [icon]="faTwitter"></fa-icon>
            </a>
            <a class="navbar-item" href="https://github.com/esamarathon/oengusio" target="_blank"
               [nwbToolTip]="'navbar.sourceCode' | translate" nwbToolTipPosition="bottom">
              <fa-icon [icon]="faGithub"></fa-icon>
            </a>
            <a class="navbar-item" href="https://github.com/esamarathon/oengusio/issues" target="_blank"
               [nwbToolTip]="'navbar.bugtracker' | translate" nwbToolTipPosition="bottom">
              <fa-icon [icon]="faBug"></fa-icon>
            </a>
            <a class="navbar-item" href="https://hosted.weblate.org/projects/oengusio/site/" target="_blank"
               [nwbToolTip]="'navbar.translate' | translate" nwbToolTipPosition="bottom">
              <fa-icon [icon]="faLanguage"></fa-icon>
            </a>
            <a class="navbar-item" href="https://www.patreon.com/oengusio" target="_blank"
               [nwbToolTip]="'navbar.donate' | translate" nwbToolTipPosition="bottom">
              <fa-icon [icon]="faPatreon"></fa-icon>
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item" *ngIf="userService.user && !userService.isBanned()">
          <button class="button is-primary" routerLink="/marathon/new">{{'navbar.createMarathon' | translate}}
          </button>
        </div>
        <a class="navbar-item" routerLink="/about">{{'navbar.about' | translate}}</a>
        <a class="navbar-item" routerLink="/patrons">{{'navbar.patrons' | translate}}</a>
        <div class="navbar-item mob has-dropdown {{ languageBarActive ? 'is-active' : '' }}">
          <a class="navbar-link"
             (click)="languageBarActive = !languageBarActive">
            {{languages[language].nativeName | titlecase}}
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" *ngFor="let locale of availableLocaleNames" (click)="useLanguage(locale)">
              {{languages[locale].nativeName | titlecase}}
            </a>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="!userService.user">
          <a class="navbar-link">
          <span class="button is-light">
          {{'navbar.login.title' | translate}}
            </span>
          </a>
          <div class="navbar-dropdown is-right">
            <div class="navbar-content">
              <a class="navbar-item is-tooltip-danger" [nwbToolTip]="'navbar.login.disclaimer' | translate"
                 nwbToolTipPosition="left"
                 nwbToolTipIsMultiline="true"
                 [href]="userService.getDiscordAuthUri()">
                <fa-icon [icon]="faDiscord" style="margin-right: 0.4rem"></fa-icon>
                {{'navbar.login.discord' | translate}}
              </a>
              <a class="navbar-item is-tooltip-danger"
                 [nwbToolTip]="'navbar.login.disclaimer' | translate"
                 nwbToolTipPosition="left"
                 nwbToolTipIsMultiline="true"
                 [href]="userService.getTwitchAuthUrl()">
                <fa-icon [icon]="faTwitch" style="margin-right: 0.4rem"></fa-icon>
                {{'navbar.login.twitch' | translate}}
              </a>
              <a class="navbar-item is-tooltip-danger"
                 (click)="twitterAuth()"
                 nwbToolTipPosition="left"
                 nwbToolTipIsMultiline="true"
                 [nwbToolTip]="'navbar.login.disclaimer' | translate">
                <fa-icon [icon]="faTwitter" style="margin-right: 0.4rem"></fa-icon>
                {{'navbar.login.twitter' | translate}}
              </a>
            </div>
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable" *ngIf="userService.user">
          <a class="navbar-link">
            <app-user [user]="userService.user" [showProfileLink]="false"></app-user>
          </a>
          <div class="navbar-dropdown is-right">
            <a class="navbar-item" [routerLink]="'/user/profile/' + userService.user.username">
              {{'navbar.profile' | translate}}
            </a>
            <a class="navbar-item" routerLink="/user/settings">
              {{'navbar.settings' | translate}}
            </a>
            <a class="navbar-item" (click)="userService.logout()">
              {{'navbar.logout' | translate}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="content-wrapper">
    <router-outlet (activate)="onRouteActivated($event)"></router-outlet>
  </div>

  <footer class="footer" style="flex-grow: 0; flex-shrink: 0">
    <div class="content has-text-centered">
      <p [innerHTML]="'footer.text' | translate:{'timezone': getTimezone()}">
      </p>
      <p [innerHTML]="'footer.donate' | translate:{'donationLink': 'https://www.patreon.com/oengusio'}">
      </p>
      <p>
        &copy; {{ getYear() }} <a href="https://esamarathon.com/" target="_blank">European Speedrunner Assembly AB</a>
      </p>
    </div>
  </footer>
</div>
