.navbar {
  margin-bottom: 1rem;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo {
  height: 100%;
  width: 6em; /* TODO: 5em after header update */
}

.content-wrapper {
  flex: 1;
  padding: 1em;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.privacy-consent {
  padding: 0.5rem 0;
}
