<h1 class="title">{{'marathon.settings.incentivesTitle' | translate}}</h1>
@if (env.sandbox) {
  <div class="notification is-danger">{{'marathon.settings.sandbox.warning' | translate}}</div>
}
<div class="notification is-warning">{{'marathon.settings.incentives.disabledNotification' | translate}}</div>
<div class="columns is-multiline">
  <div class="column is-half-desktop">
    <div class="field">
      <label for="hasDonations" class="label">{{ 'marathon.settings.donations.label' | translate}}</label>
      <div class="control">
        <nwb-switch [(ngModel)]="marathon.hasDonations" id="hasDonations" name="hasDonations" [disabled]="donationsDisabled">
          <span>{{ 'marathon.settings.donations.hasDonations' | translate}}</span>
        </nwb-switch>
      </div>
    </div>
  </div>
  <div class="column is-half-desktop">
    <div class="field">
      <label for="donationsOpen" class="label">{{ 'marathon.settings.donationsOpen.label' | translate}}</label>
      <div class="control">
        <nwb-switch [(ngModel)]="marathon.donationsOpen" id="donationsOpen" name="donationsOpen" [disabled]="donationsDisabled">
          <span>{{ 'marathon.settings.donations.donationsOpen' | translate}}</span>
        </nwb-switch>
      </div>
    </div>
  </div>
  <div class="column is-half-desktop">
    <div class="field">
      <label for="supportedCharity" class="label">{{ 'marathon.settings.supportedCharity.label' | translate}}</label>
      <div class="control">
        <input class="input"
          [ngClass]="{'is-danger': supportedCharity.invalid}"
          type="text"
          [(ngModel)]="marathon.supportedCharity"
          name="supportedCharity"
          id="supportedCharity"
          [required]="marathon.hasDonations"
          [disabled]="!marathon.hasDonations || donationsDisabled"
          maxlength="100"
          #supportedCharity="ngModel">
        <p class="help is-pulled-right">{{marathon.supportedCharity?.length}}/100</p>
      </div>
      @if (supportedCharity.invalid) {
        <div>
          @if (supportedCharity.errors.required) {
            <p class="help is-danger"
            >{{'marathon.settings.supportedCharity.error.required' | translate}}</p>
          }
          @if (supportedCharity.errors.maxlength) {
            <p class="help is-danger"
            >{{'marathon.settings.supportedCharity.error.max' | translate}}</p>
          }
        </div>
      }
    </div>
  </div>
  <div class="column is-half-desktop">
    <div class="field">
      <label for="payee" class="label">{{ 'marathon.settings.payee.label' | translate}}</label>
      <div class="control">
        <input class="input"
          [ngClass]="{'is-danger': payee.invalid}"
          type="email"
          email
          [(ngModel)]="marathon.payee"
          name="payee"
          id="payee"
          [required]="marathon.hasDonations"
          [disabled]="!marathon.hasDonations || donationsDisabled"
          maxlength="100"
          #payee="ngModel">
        <p class="help is-pulled-right">{{marathon.payee?.length}}/100</p>
        <p class="help">{{ 'marathon.settings.payee.help' | translate}}</p>
      </div>
      @if (payee.invalid) {
        <div>
          @if (payee.errors.required) {
            <p class="help is-danger"
            >{{'marathon.settings.payee.error.required' | translate}}</p>
          }
          @if (payee.errors.maxlength) {
            <p class="help is-danger"
            >{{'marathon.settings.payee.error.max' | translate}}</p>
          }
          @if (payee.errors.maxlength) {
            <p class="help is-danger"
            >{{'marathon.settings.payee.error.email' | translate}}</p>
          }
        </div>
      }
    </div>
  </div>
  <div class="column is-half-desktop">
    <div class="field">
      <label for="currencyIso" class="label">{{ 'marathon.settings.currencyIso.label' | translate}}</label>
      <div class="control">
        <input class="input"
          [ngClass]="{'is-danger': currencyIso.invalid}"
          type="text"
          [(ngModel)]="marathon.donationCurrency"
          name="currencyIso"
          id="currencyIso"
          [required]="marathon.hasDonations || marathon.hasIncentives"
          [disabled]="(!marathon.hasDonations && !marathon.hasIncentives) || donationsDisabled"
          maxlength="3"
          #currencyIso="ngModel">
        <p class="help is-pulled-right">{{marathon.donationCurrency?.length}}/3</p>
        <p class="help">{{ 'marathon.settings.currencyIso.help' | translate}}</p>
      </div>
      @if (currencyIso.invalid) {
        <div>
          @if (currencyIso.errors.required) {
            <p class="help is-danger"
            >{{'marathon.settings.currencyIso.error.required' | translate}}</p>
          }
          @if (currencyIso.errors.maxlength) {
            <p class="help is-danger"
            >{{'marathon.settings.currencyIso.error.max' | translate}}</p>
          }
        </div>
      }
    </div>
  </div>
</div>
<!-- has incentives -->
<div class="columns">
  <div class="column">
    <div class="field">
      <label for="hasIncentives" class="label">{{ 'marathon.settings.incentives.label' | translate}}</label>
      <div class="control">
        <nwb-switch [(ngModel)]="marathon.hasIncentives" id="hasIncentives" name="hasIncentives" [disabled]="donationsDisabled">
          <span>{{ 'marathon.settings.incentives.hasIncentives' | translate}}</span>
        </nwb-switch>
      </div>
    </div>
  </div>
</div>
<!-- custom fields -->
<fieldset [disabled]="!marathon.hasDonations || donationsDisabled">
  <h1 class="title">{{ 'marathon.settings.customFields.title' | translate}}</h1>
  <p>{{ 'marathon.settings.customFields.description1' | translate}}</p>
  <p>{{ 'marathon.settings.customFields.description2' | translate}}</p>
  <button type="button" class="button is-info is-pulled-right mb-3"
    (click)="addQuestion.emit({ questionType: 'DONATION' })">{{ 'marathon.settings.customFields.add' | translate}}
  </button>
  @if (donationsQuestions?.length > 0) {
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>{{ 'marathon.settings.customFields.label.title' | translate}}</th>
          <th>{{ 'marathon.settings.customFields.label.type' | translate}}</th>
          <th>{{ 'marathon.settings.customFields.required.title' | translate}}</th>
          <th>{{ 'marathon.settings.customFields.action.title' | translate}}</th>
        </tr>
      </thead>
      <tbody cdkDropList
        [cdkDropListData]="donationsQuestions"
        (cdkDropListDropped)="drop.emit($event)">
        @for (question of donationsQuestions; track i; let i = $index) {
          <tr cdkDrag>
            <td [attr.rowspan]="question.fieldType === 'SELECT' ? question.options.length + 1 : 1">
              <input class="input"
                type="text"
                [(ngModel)]="question.label"
                name="donation-label{{i}}"
                [ngClass]="{'is-danger': donationLabel.invalid}"
                required
                maxlength="50"
                #donationLabel="ngModel">
              <p class="help is-pulled-right">{{question.label?.length}}/50</p>
              @if (donationLabel.invalid) {
                <div>
                  @if (donationLabel.errors.required) {
                    <p class="help is-danger">
                    {{'marathon.settings.customFields.label.error.required' | translate}}</p>
                  }
                </div>
              }
            </td>
            <td>
              <span class="select">
                <select [(ngModel)]="question.fieldType" name="donation-fieldType{{i}}"
                  (ngModelChange)="questionTypeChange.emit({questionType: 'DONATION', i, fieldType: question.fieldType})">
                  <option value="TEXT">{{ 'marathon.settings.customFields.type.option.text' | translate}}</option>
                  <option value="SELECT">{{ 'marathon.settings.customFields.type.option.select' | translate}}</option>
                  <option value="TEXTAREA">{{ 'marathon.settings.customFields.type.option.textArea' | translate}}</option>
                  <option value="CHECKBOX">{{ 'marathon.settings.customFields.type.option.checkbox' | translate}}</option>
                  <option value="FREETEXT">{{ 'marathon.settings.customFields.type.option.freetext' | translate}}</option>
                </select>
              </span>
            </td>
            <td>
              <nwb-switch [(ngModel)]="question.required" name="donation-required{{i}}"
              [disabled]="question.fieldType === 'FREETEXT'"></nwb-switch>
            </td>
            <td>
              <fa-icon [icon]="faBars" cdkDragHandle class="is-pulled-right"></fa-icon>
              @if (question.fieldType === 'SELECT') {
                <a (click)="addOption.emit({questionType: 'DONATION', i})" (keyup.enter)="addOption.emit({questionType: 'DONATION', i})"
                  class="plusBtn" tabindex="0" aria-label="Add option"
                  >
                  <fa-icon [icon]="faPlus"></fa-icon>
                </a>
              }
              <a (click)="removeQuestion.emit({questionType: 'DONATION', i})" (keyup.enter)="removeQuestion.emit({questionType: 'DONATION', i})" tabindex="0" aria-label="Remove question">
                <fa-icon [icon]="faTimes"></fa-icon>
              </a>
            </td>
          </tr>
          @if (question.fieldType === 'SELECT') {
            @for (option of question.options; track j; let j = $index) {
              <tr>
                <td>
                  <input class="input"
                    type="text"
                    [(ngModel)]="question.options[j]"
                    name="donation-option{{i}}-{{j}}"
                    [ngClass]="{'is-danger': donationOptionInput.invalid}"
                    required
                    maxlength="50"
                    #donationOptionInput="ngModel">
                  <p class="help is-pulled-right">{{option?.length}}/50</p>
                  @if (donationOptionInput.invalid) {
                    <div>
                      @if (donationOptionInput.errors.required) {
                        <p class="help is-danger">
                        {{'marathon.settings.customFields.option.error.required' | translate}}</p>
                      }
                    </div>
                  }
                </td>
                <td></td>
                <td>
                  <a (click)="removeOption.emit({questionType: 'DONATION', i, j })" (keyup.enter)="removeOption.emit({questionType: 'DONATION', i, j })" tabindex="0" aria-label="Remove option">
                    <fa-icon [icon]="faTimes"></fa-icon>
                  </a>
                </td>
              </tr>
            }
          }
          @if (question.fieldType === 'FREETEXT') {
            <tr>
              <td colspan="3">
                <textarea class="textarea"
                  [readOnly]="disabled"
                  rows=5
                  maxlength="1000"
                  [(ngModel)]="question.description"
                name="donation-questionDescription{{i}}"></textarea>
                <p class="help is-pulled-right">{{question.description?.length}}/1000</p>
                <p class="help">{{ 'marathon.settings.marathonDescription.help' | translate}}</p>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  }
</fieldset>
