<div class="is-inline-flex">
  <a *ngIf="showProfileLink"
     [routerLink]="'/user/profile/' + user.username"
     [ngStyle]="{'text-decoration': user.roles.includes('ROLE_BANNED') ? 'line-through' : null}">
    {{localStorage.getItem('language') === 'ja' && !!user.usernameJapanese ? user.usernameJapanese : user.username}}
  </a>
  <span *ngIf="!showProfileLink"
        [ngStyle]="{'text-decoration': user.roles.includes('ROLE_BANNED') ? 'line-through' : null}">
    {{localStorage.getItem('language') === 'ja' && !!user.usernameJapanese ? user.usernameJapanese : user.username}}
  </span>
  <ng-template [ngIf]="showSocialLinks && user.enabled">
    <a [href]="platforms[connection.platform] + connection.username" *ngFor="let connection of profileConnections" target="_blank">
      <fa-icon [icon]="iconMapping[connection.platform]" style="margin-left: 0.4rem"></fa-icon>
    </a>
  </ng-template>
</div>
