<section class="section">
  <h1 class="title is-1">
    {{ 'aboutPage.privacy.title' | translate }}
  </h1>

  <p>
    <app-element-i18n key="aboutPage.privacy.par1" elementKey="oengus-link">
      <a href="https://oengus.io">https://oengus.io</a>
    </app-element-i18n>
  </p>
  <p>{{ 'aboutPage.privacy.par2'| translate }}</p>
  <p>{{ 'aboutPage.privacy.par3' | translate }}</p>

  <br>

  <h2 class="title is-2">
    Log Files
  </h2>

  <p>
    Oengus follows a standard procedure of using log files. These files log visitors when they visit websites.
    All hosting companies do this and a part of hosting services' analytics.
    The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service
    Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks.
    These are not linked to any information that is personally identifiable.
    The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the
    website, and gathering demographic information.
  </p>

  <br>

  <h2 class="title is-2">
    Cookies and Web Beacons
  </h2>

  <p>
    Like any other website, Oengus uses 'cookies'.
    These cookies are used to store information including visitors' preferences, and the pages on the website that the
    visitor accessed or visited.
    The information is used to optimize the users' experience by customizing our web page content based on visitors'
    browser type and/or other information.
  </p>

  <br>

  <h2 class="title is-2">
    Installed Third Party Trackers
  </h2>

  <p>Oengus has a few third party trackers installed for different purpose. These third party trackers are as
    follows:</p>
  <div class="content">
    <ul>
      <li>Sentry.io - Sentry is used to notify Oengus of possible issues with the website and make sure they get fixed
      </li>
      <li>CloudFlare insights - Oengus uses CloudFlare insights to track the most frequently visited pages and the speeds
        at with those pages load.
      </li>
    </ul>
  </div>

  <p>
    If you do not wish for these trackers to be active, you can use browser extensions like <a target="_blank"
                                                                                               href="https://addons.mozilla.org/en-US/firefox/addon/ublock-origin/">uBlock
    Origin</a> to disable these third party trackers.
  </p>

  <br>

  <h2 class="title is-2">
    Third Party Privacy Policies
  </h2>

  <p>Oengus's Privacy Policy does not apply to other advertisers or websites.</p>
  <p>
    You can choose to disable cookies through your individual browser options.
    To know more detailed information about cookie management with specific web browsers, it can be found at the
    browsers' respective websites.
  </p>

  <br>

  <h2 class="title is-2">
    Children's Information
  </h2>

  <p>
    Another part of our priority is adding protection for children while using the internet.
    We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.
  </p>
  <p>
    Oengus does not knowingly collect any Personal Identifiable Information from children under the age of 13.
    If you think that your child provided this kind of information on our website, we strongly encourage you to contact
    us immediately and we will do our best efforts to promptly remove such information from our records.
  </p>

  <br>

  <h2 class="title is-2">
    Online Privacy Policy Only
  </h2>

  <p>
    This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to
    the information that they shared and/or collect in Oengus.
    This policy is not applicable to any information collected offline or via channels other than this website.
  </p>

  <br>

  <h2 class="title is-2">
    Consent
  </h2>

  <p>
    By using our website, you hereby consent to our Privacy Policy and agree to its Terms and Conditions.
  </p>

  <br>

  <small>Last updated: 2025-02-26</small>
</section>
