/**
 * Global styles for the site
 */

@use './themes/default' as theme;

html {
  // Controls how far stuff is apart from each other.
  // Matches the Bulma box padding so that we can have consistent spacing
  // We're using CSS variables over SASS variables so it can be changed on the fly as needed
  --spacing: 20px;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover:not(.is-active) {
    color: theme.$link-hover !important;
  }
}

.title {
  word-break: normal;
  // Line break is kinda like word break, but for languages without spaces, like Chinese, Japanese, or Korean
  line-break: normal;
}

.is-centered {
  display: flex;
  justify-content: center;
}
