/**
 * Global styles for the site
 */

@use './themes/default' as theme;

html {
  // Controls how far stuff is apart from each other.
  // Matches the Bulma box padding so that we can have consistent spacing
  // We're using CSS variables over SASS variables so it can be changed on the fly as needed
  --spacing: 20px;
}

a {
  color: inherit;
  text-decoration: underline;

  &:hover {
    color: theme.$link-hover;
  }
}

.is-centered {
  display: flex;
  justify-content: center;
}
