<div class="card {{gameStatus}}">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4 has-text-light">
          {{ game.name }} - {{ game.console }}@if (game.emulated) {
          <sup>{{ 'global.emu' | translate }}</sup>
        }
        @if (showDelete) {
          <app-delete-button
            [baseText]="'marathon.submissions.game.delete' | translate"
            [confirmText]="'action.confirm' | translate"
            [cancelText]="'action.cancel' | translate"
            (confirmHandler)="deleteGame.next()"
          ></app-delete-button>
        }
      </p>
      @if (userIsAdmin) {
        <span class="subtitle is-6">{{ 'marathon.submissions.table.ratio' | translate }}: {{ game.ratio }}</span>
      }
      <p class="subtitle is-6 has-text-light">
        <app-simple-md [data]="game.description"></app-simple-md>
      </p>

      @for (category of game.categories; track category) {
        <app-submission-category
          [category]="category"
          [marathon]="marathon"
          [rawStatus]="getRawStatus(category)"
          [showDelete]="showDelete"
          (triggerDelete)="deleteCategory.next(category.id)"
        ></app-submission-category>
      }
    </div>
  </div>
</div>
</div>
