@use "bulmaswatch/solar/variables" as vars;

.validated {
  background-color: rgba(vars.$green, .3);
}

.bonus {
  background-color: rgba(vars.$info, .3);
}

.rejected {
  background-color: rgba(vars.$red, .3);
}

.backup {
  background-color: rgba(vars.$primary, .3);
}

app-submission-category:not(:last-child) {
  display: block;
  margin-bottom: 1.5rem;
}
