<div class="box"  [class]="{ 'is-open-fold' : isFoldOpen }">
  <h1 class="title">
    {{ 'homepage.welcomeTitle' | translate }}
  </h1>
  <p [innerHTML]="'homepage.welcomeText.par1' | translate"></p>

  @if (!userService.user) {
    <p>
      {{ 'homepage.welcomeText.par3' | translate }}
    </p>
    <div class="is-centered">
      <app-widget-signin-picker></app-widget-signin-picker>
    </div>
  }

  @if (sandbox) {
    <p [innerHTML]="'homepage.welcomeText.par4.sandbox' | translate"></p>
  } @else {
    <p [innerHTML]="'homepage.welcomeText.par4.prod' | translate"></p>
  }


  <br>

    <h3 class="title is-3 below-the-fold">
      {{ 'homepage.plannedFeatures.title' | translate }}
    </h3>
    <ul class="below-the-fold">
      @for (feature of plannedFeatures; track feature) {
        <li>
          <span>
            {{ 'homepage.plannedFeatures.' + feature.key | translate }}
          </span>
          @if (feature.complete) {
            <i class="fa-solid fa-sm fa-check"></i>
          }
        </li>
      }
    </ul>

    <div class="is-centered is-fold-trigger">
      <button class="button" (click)="openFold()">
        <span>
          {{ 'homepage.plannedFeatures.title' | translate }}
        </span>
        <i class="fa-solid fa-angle-down"></i>
      </button>
    </div>
  </div>
