<p class="menu-label">
  {{ 'marathon.menu.tracker' | translate }}
</p>

<ul class="menu-list">
  @if (acceptingDonations) {
    <li [title]="'marathon.menu.donate' | translate">
      <a [routerLink]="'/marathon/' + marathonId + '/donate' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
        <i class="menu-item-icon fa-solid fa-donate"></i>
        <span class="menu-item-label">
          {{ 'marathon.menu.donate' | translate }}
        </span>
      </a>
    </li>
  }
  @if (marathon.hasDonations) {
    <li [title]="'marathon.menu.donations' | translate">
      <a [routerLink]="'/marathon/' + marathonId + '/donations' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
        <i class="menu-item-icon fa-solid fa-money-bill"></i>
        <span class="menu-item-label">
          {{ 'marathon.menu.donations' | translate }}
        </span>
      </a>
    </li>
  }
  @if (marathon.hasIncentives) {
    <li [title]="'marathon.menu.incentives' | translate">
      <a [routerLink]="'/marathon/' + marathonId + '/incentives' | localize" routerLinkActive="is-active" [routerLinkActiveOptions]="{exact: true}" class="menu-item-link">
        <i class="menu-item-icon fa-solid fa-bullseye"></i>
        <span class="menu-item-label">
          {{ 'marathon.menu.incentives' | translate }}
        </span>
      </a>
    </li>
  }
</ul>
