@import '~bulmaswatch/solar/variables';

.minimized {
  margin-right: 1rem;
  width: 76px;
}

.closed {
  display: none;
}

.menu-list a.is-emphasized {
  background-color: rgba($primary, 0.3);
  color: #fff;
}

//ins.adsbygoogle {
//  display: none !important;
//}

