@use '../../../assets/table';

// TODO: super duper hacky, refactor pls
:host {
  @include table.cell-varients($selector-after: '::ng-deep > app-element-table-row::ng-deep > app-element-table-cell');

  // XXX display: contents should be a hack and an implementation detail and is subject to change
  // This is a substitute for properly using subgrid (CSS Grid Level 2)
  display: contents;
}


.range-bar {
  max-width: 100px;
  min-width: 50px;
}
