<app-element-table-row>
  <app-element-table-cell class="duration">
    <span>
      <app-element-i18n *ngIf="durationKey == 'start-time'" [key]="durationText" elementKey="start-time">
        <app-element-temporal-datetime [dateTime]="marathon.startDate" format="shortTime"></app-element-temporal-datetime>
      </app-element-i18n>
      <app-element-i18n *ngIf="durationKey == 'end-time'" [key]="durationText" elementKey="end-time">
        <app-element-temporal-datetime [dateTime]="marathon.endDate" format="shortTime"></app-element-temporal-datetime>
      </app-element-i18n>
      <app-element-i18n *ngIf="durationKey == 'time-range'" [key]="durationText" elementKey="time-range">
        <app-element-temporal-range [start]="marathon.startDate" [end]="marathon.endDate" format="shortTime"></app-element-temporal-range>
      </app-element-i18n>
      <span *ngIf="!durationKey">{{ durationText | translate }}</span>
    </span>
  </app-element-table-cell>
  <app-element-table-cell class="range">
    <app-element-range class="range-bar"
                       [class]="rangeColor"
                       min="0"
                       max="24"
                       [start]="start"
                       [end]="end"
    ></app-element-range>
  </app-element-table-cell>
  <app-element-table-cell class="name">
    <a [routerLink]="'/marathon/' + marathon.id | localize">
      {{ marathon.name }}
    </a>
  </app-element-table-cell>
  <app-element-table-cell class="links">
    <app-marathon-sidebar-overview [marathon]="marathon" [collapsed]="true" [isBigHome]="true"></app-marathon-sidebar-overview>
  </app-element-table-cell>
</app-element-table-row>
