<h1 class="title">{{ 'marathon.submissions.title' | translate}}
  <button class="button is-pulled-right is-info" (click)="exportToCsv()"
          *ngIf="marathonService.isAdmin(userService.user)">{{ 'marathon.submissions.export' | translate}}
  </button>
</h1>
<div class="tabs is-centered" *ngIf="displaysTabs()">
  <ul>
    <li [ngClass]="{'is-active':active==='submissions'}">
      <a (click)="active = 'submissions'">{{'marathon.submissions.tabs.submissions' | translate}}</a>
    </li>
    <li [ngClass]="{'is-active':active==='answers'}">
      <a (click)="active = 'answers'">{{'marathon.submissions.tabs.answers' | translate}}</a>
    </li>
  </ul>
</div>

<div [hidden]="displaysTabs() && active !== 'submissions'" class="container">

  <div class="columns">
    <div class="column is-half-desktop">
      <nav class="panel">
        <div class="panel-block">
          <p class="control has-icons-left">
            <input class="input" type="text" [placeholder]="'marathon.submissions.filter' | translate"
                   [(ngModel)]="runnerGameFilter" (ngModelChange)="filter()">
            <span class="icon is-left">
              <fa-icon [icon]="faSearch"></fa-icon>
            </span>
          </p>
        </div>
        <div class="panel-block" *ngIf="marathonService.marathon.selectionDone">
          <div class="select is-fullwidth">
            <select [(ngModel)]="categoryFilter" (ngModelChange)="filter()">
              <option value="">{{ 'marathon.selection.status.ALL' | translate}}</option>
              <option value="REJECTED">{{ 'marathon.selection.status.REJECTED' | translate}}</option>
              <option value="BONUS">{{ 'marathon.selection.status.BONUS' | translate}}</option>
              <option value="BACKUP">{{ 'marathon.selection.status.BACKUP' | translate}}</option>
              <option value="VALIDATED">{{ 'marathon.selection.status.VALIDATED' | translate}}</option>
            </select>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <ng-template ngFor let-submission [ngForOf]="submissions">
    <div class="box" *ngIf="showSubmission(submission)">
      <h4 class="title is-4">
        <app-user [user]="submission.user" [showSocialLinks]="true"></app-user>
        <app-delete-button *ngIf="showDelete"
                           [baseText]="'marathon.submissions.submission.delete' | translate"
                           [confirmText]="'action.confirm' | translate"
                           [cancelText]="'action.cancel' | translate"
                           (confirmHandler)="deleteSubmission(submission.id)"
        ></app-delete-button>
      </h4>
      <ng-template ngFor let-game [ngForOf]="submission.games">
        <app-submission-game
          *ngIf="game.visible"
          [game]="game"
          [marathon]="marathonService.marathon"
          [showDelete]="showDelete"
          [selection]="selection"
          [userIsAdmin]="userIsAdmin"
          (deleteGame)="deleteGame(game.id)"
          (deleteCategory)="deleteCategory(game.id, $event)"
        ></app-submission-game>
      </ng-template>
    </div>
  </ng-template>
</div>

<div [hidden]="!displaysTabs() || active !== 'answers'" class="container">
  <div class="table-container">
    <table class="table is-fullwidth is-striped">
      <thead>
      <tr>
        <th>{{ 'marathon.submissions.table.runner' | translate}}</th>
        <th>{{ 'marathon.submissions.table.question' | translate}}</th>
        <th>{{ 'marathon.submissions.table.answer' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <ng-template ngFor let-submission [ngForOf]="submissions">
        <tr *ngFor="let answer of submission.answers; let i = index">
          <ng-template [ngIf]="i === 0">
            <td [attr.rowspan]="submission.answers.length">
              <app-user [user]="submission.user" [showSocialLinks]="true"></app-user>
            </td>
          </ng-template>
          <td>
            {{answer.question.label}}
          </td>
          <td>
            <p class="content">
              <ngx-md [data]="answer.answer"></ngx-md>
            </p>
          </td>
        </tr>
      </ng-template>
      </tbody>
    </table>
  </div>
</div>
