@use "bulmaswatch/solar/variables" as vars;

/*:host {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);

  > * {
    margin: 0;
  }
}*/

hr {
  border: 1px solid vars.$grey-alt;
}

.searchInput {
  &:focus, &:focus-visible {
    border: 5px solid orange;
  }
}
