@import "~bulmaswatch/solar/variables";

.validated {
  background-color: rgba($green, .3);
}

.bonus {
  background-color: rgba($info, .3);
}

.rejected {
  background-color: rgba($red, .3);
}

.backup {
  background-color: rgba($warning, .3);
}

hr {
  border: 1px solid $grey-alt;
}

app-submission-category:not(:last-child) {
  display: inline-block;
  margin-bottom: 1.5rem;
}
