.marathon-header-container {
  margin: 0;
}

.main-header {
  display: grid;
  grid-template-columns: auto min-content;
  column-gap: var(--spacing);

  .title {
    margin: 0;
  }

  // Force this element to always display, Bulma wants to hide it by default
  @media (min-width: 1024px) {
    .navbar-burger {
      display: block;
    }
  }
}

.menu-sections {
  display: flex;
  flex-wrap: wrap;
  padding-block-start: var(--spacing);
}
