<div class="box marathon-header-container">
  <div class="main-header">
    <h3 class="title is-3">
      {{ marathonName }} <!-- TODO: find a way to put the schedule name here -->
    </h3>

    @if (collapsed) {
      <button class="button navbar-burger" [class]="buttonClass" (click)="toggleSidebar.emit(!collapsed)">
        <span></span>
        <span></span>
        <span></span>
      </button>
    }
  </div>

  @if (collapsed) {
    <div class="menu-sections">
      <app-marathon-sidebar-overview [marathon]="marathon" [collapsed]="true"></app-marathon-sidebar-overview>
      @if (marathon.hasDonations || marathon.hasIncentives) {
        <app-sidebar-tracker
        [marathon]="marathon" [collapsed]="true"></app-sidebar-tracker>
      }
      @if (isAdmin) {
        <app-sidebar-admin [marathon]="marathon" [collapsed]="true"></app-sidebar-admin>
      }
    </div>
  }
</div>

@if (collapsed) {
  <app-element-advertisement
    [showAdvertisement]="false"
    [isVertical]="false"
    [isHorizontal]="true"
  class="is-advertisement"></app-element-advertisement>
}
