<div class="schedule-container">
  @for (run of runs; track run; let index = $index) {
    @if (shouldShowDay(index)) {
      <div class="day is-info">
        <app-element-temporal-datetime [dateTime]="run.date" format="longDateWithWeekday"></app-element-temporal-datetime>
      </div>
    }
    @if (run.setupBlock) {
      <div class="run setup-block">
        <div class="run-left">
          <div class="row-title">
            <app-simple-md [data]="(run.setupBlockText || 'marathon.schedule.setupBlock' | translate)"></app-simple-md>
          </div>
          <div class="time">
            <app-element-temporal-datetime [dateTime]="run.date" format="shortTime"></app-element-temporal-datetime>
          </div>
        </div>
        <div class="run-right">
          <div class="type-line">
            <strong>
              @if (run.type) {
                {{ 'marathon.schedule.type.' + run.type | translate }}
              }
            </strong>
          </div>
        </div>
      </div>
    } @else {
      <div class="run" [id]="'run-' + run.id">
        <div class="run-left">
          <div class="row-title">
            <app-simple-md [data]="run.game"></app-simple-md>
          </div>
          <div class="time">
            <app-element-temporal-datetime [dateTime]="run.date" format="shortTime"></app-element-temporal-datetime>
          </div>
          <button type="button" class="link-icon" (click)="copyLinkToClipboard(run.id, $event)">
            <span class="icon-wrapper">
              <fa-icon [icon]="faLink" class="icon icon-link" [class.hidden]="showCopiedPopup === run.id"></fa-icon>
              <fa-icon [icon]="faCircleCheck" class="icon icon-check" [class.hidden]="showCopiedPopup !== run.id"></fa-icon>
            </span>
          </button>
        </div>
        <div class="run-right">
          <div class="category-line">
              <strong>
                <app-simple-md [data]="run.category"></app-simple-md>
              </strong>
              @if (run.console) {
                <span class="console"> (<app-element-console [console]="run.console" [emulated]="run.emulated"></app-element-console>)</span>
              }
              @if (run.estimate) {
                <span class="estimate"> (<app-element-temporal-duration [duration]="run.estimate"></app-element-temporal-duration>)</span>
              }
          </div>
          <div class="content">
            <div class="content-left">
              <div class="runners-line">
                @for (runner of run.runners; track runner) {
                  <span class="runner-line-name">
                    <fa-icon [icon]="faGamepad"></fa-icon>
                    <app-user-link [user]="runner" [isLink]="runner?.profile?.id > 0"></app-user-link>
                  </span>
                }
                @if (run.type) {
                  <span> - {{ 'marathon.schedule.type.' + run.type | translate }}</span>
                }
              </div>
            </div>
              
            <div class="content-right">
              @if (run.setupTime) {
                <div class="setup-line">
                  <strong>{{ 'marathon.schedule.table.setup' | translate }}:</strong> <app-element-temporal-duration [duration]="run.setupTime"></app-element-temporal-duration>
                </div>
              }
            </div>
          </div>
        </div>
      </div>
    }
  }
</div>
