@use '../../../../assets/table';
@use '../../../../assets/table/variables' as table-vars;

.schedule-switch-label {
  margin-bottom: 0.5rem;
  display: block;
}

.schedule-switch-container {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.schedule-container {
  display: flex;
  width: 100%;
  max-width: 100%;
  gap: 0.5rem;
  flex-direction: column;
  max-width: 1800px;
  margin: 0 auto;

  &.compact {
    font-size: 12px;

    @media (min-width: 1024px) {
      font-size: 14px;
    }

    > .run {
      grid-template-columns: 2fr 3fr;
      border-left: 10px solid table-vars.$info-color;
      grid-template-columns: 2fr 3fr;

      @media (max-width: 500px) {
        grid-template-columns: 1fr 1fr;
      }
  
      &.setup-block {
        border-left-color: white;
      }
    }
    
    .run-left {
      flex-direction: column-reverse;
      justify-content: flex-end;
      align-items: flex-start;
      padding: calc(var(--spacing) / 2);
      border-left: none;

      @media (min-width: 800px) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        text-align: left;
        border-left: none;
      }

      @media (min-width: 1024px) {
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: left;
        border-left: none;
      }
    }

    .run-right {
      padding-left: 0;
      padding-bottom: calc(var(--spacing) / 4);
      position: relative;
      @media (min-width: 720px) {
        padding-right: 200px;
      }
    }

    .content {
      @media (max-width: 720px) {
        flex-direction: column;
      }
    }

    .content-right {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      height: 100%;
      display: flex;
      align-items: center;

      @media (max-width: 720px) {
        position: relative;
        height: auto;
        width: 100%;
      }
    }

    .setup-line {  
      flex-direction: row;
      width: 100%;
      max-width: 200px;
      gap: 0.5em;

      @media (max-width: 720px) {
        text-align: left;
        width: 100%;
      }
    }
  }

  > .run {
    display: grid;
    grid-template-columns: 1fr;
    padding: calc(var(--spacing) / 2);
    gap: 2rem;
    align-items: flex-start;
    background-color: table-vars.$light-color;

    @media (min-width: 1024px) {
      border-left: 10px solid table-vars.$info-color;
      grid-template-columns: 2fr 3fr;
    }

    &.setup-block {
      border-left-color: white;
    }
  }

  .run-left {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    height: calc(100% + var(--spacing));
    background-color: table-vars.$light-color;
    margin: calc(-1 * (var(--spacing) / 2));
    padding: var(--spacing);
    border-left: 10px solid table-vars.$info-color;
    position: relative;

    @media (min-width: 1024px) {
      flex-direction: column;
      justify-content: center;
      text-align: center;
      border-left: none;
    }

    .row-title {
      color: white;
      font-weight: 700;
      font-size: 1.5em;
    }

    .time {
      @media (max-width: 1023px) {
        color: white;
      }
    }

    .link-icon {
      position: absolute;
      bottom: calc(var(--spacing) / 2);
      right: calc(var(--spacing) / 2);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      background-color: table-vars.$info-color;
      color: white;
      opacity: 0;
      transition: opacity 0.2s ease, background-color 0.2s ease;
      text-decoration: none;
      border: none;
      padding: 0;
      cursor: pointer;

      .icon-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .icon {
        position: absolute;
        font-size: 0.875em;
        color: inherit;
        transition: opacity 0.3s ease, transform 0.3s ease, color 0.2s ease;
      }

      .icon.hidden {
        opacity: 0;
        transform: scale(0.8);
        pointer-events: none;
      }

      .icon:not(.hidden) {
        opacity: 1;
        transform: scale(1);
      }

      &:hover {
        background-color: white;
        
        fa-icon {
          color: table-vars.$info-color;
        }
      }
    }

    .copied-popup {
      position: absolute;
      bottom: calc(2rem + var(--spacing));
      right: calc(var(--spacing) / 2);
      background-color: table-vars.$info-color;
      color: white;
      padding: 0.5rem;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
      z-index: 10;
      animation: fadeInOut 1s ease-in-out;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

      fa-icon {
        font-size: 1rem;
        color: white;
      }
    }
  }

  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: translateY(0.25rem);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-0.25rem);
    }
  }

  > .run:hover .run-left .link-icon {
    opacity: 1;
  }

  .run.setup-block {
    .run-left {
      border-left-color: white;
    }
  }

  .run-right {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    padding-left: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) / 2);

    @media (min-width: 1024px) {
      padding-left: 0;
      padding-bottom: 0;
    }
  }

  .type-line {
    font-size: 1.125em;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid #ffffff88;
  }

  .category-line{
    font-size: 1.125em;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid table-vars.$info-color;
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 1rem;

    @media (max-width: 499px) {
      flex-direction: column;
    }
  }

  .content-right {
    font-size: 0.875em;
    text-align: right;
    background-color: table-vars.$light-color;
    padding: calc(var(--spacing) / 2);
  }

  .setup-line {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 140px;

    @media (max-width: 499px) {
      flex-direction: row;
      text-align: left;
      width: 100%;
    }
  }

  .runners-line {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    color: lighten(table-vars.$info-color, 20%);

    .runner-line-name {
      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 700;
    }
  }

  > .day {	
    padding: calc(var(--spacing) / 2);
    background-color: table-vars.$info-color;
    font-weight: 700;
    text-align: center;
    color: white;
    font-size: 1rem;
  }

  > .run.past-run {
    opacity: 0.5;
  }

  > .run.current-run {
    border-left-color: table-vars.$primary-color;
    
    .run-left {
      border-left-color: table-vars.$primary-color;
      background-color: white;

      .row-title {
        color: black;
      }

      .time {
        color: black;
      }
    }
  }
}
