<hr/>

<nav class="level is-mobile is-flex-wrap-wrap">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{{'marathon.home.from' | translate}}</p>
      <p class="title">
        <app-element-temporal-datetime [dateTime]="startDate" format="shortDateTime" />
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{{'marathon.home.to' | translate}}</p>
      <p class="title">
        <app-element-temporal-datetime [dateTime]="endDate" format="shortDateTime" />
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{{'marathon.submit.maxGamesPerRunner' | translate}}</p>
      @if (unlimitedGames) {
        <p class="title"
        >{{'marathon.settings.unlimited' | translate}}</p>
      } @else {
        <p class="title">{{maxGamesPerRunner}}</p>
      }
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{{'marathon.submit.maxCategoriesPerGame' | translate}}</p>
      @if (unlimitedCategories) {
        <p class="title"
        >{{'marathon.settings.unlimited' | translate}}</p>
      } @else {
        <p class="title">{{maxCategoriesPerGame}}</p>
      }
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">{{'marathon.submit.racesAllowed' | translate}}</p>
      <p class="title">
        @if (hasMultiplayer) {
          <fa-icon [icon]="faCheck"
          ></fa-icon>
        } @else {
          <fa-icon [icon]="faTimes"></fa-icon>
        }
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    @if (hasMultiplayer) {
      <div>
        <p class="heading">{{'marathon.submit.maxNumberOfScreens' | translate}}</p>
        <p class="title">{{maxNumberOfScreens}}</p>
      </div>
    }
  </div>
</nav>

<hr/>
