<div class="columns">
  <div class="column is-one-fifth vertical-center"><b>{{ title }}</b></div>
  <div class="column is-four-fifths vertical-center">
    @if (synced) {
      <span>{{ username }}</span>
      <button type="button" class="button is-info" (click)="sync.emit()">
        <fa-icon [icon]="faSyncAlt"></fa-icon>
      </button>
      <button type="button" class="button is-warning" (click)="unsync.emit()">
        {{'user.settings.accountSync.unsync' | translate}}
      </button>
    } @else {
      <button type="button" class="button is-info" (click)="sync.emit()">
        {{'user.settings.accountSync.sync' | translate}}
      </button>
    }
  </div>
</div>
