<h3 class="title is-3">{{'marathon.submit.multiplayer.title' | translate}}</h3>
<p>{{'marathon.submit.multiplayer.code.help' | translate}}</p>

<div class="field has-addons">
  <div class="control">
    <input class="input"
      type="text"
      [(ngModel)]="code"
      name="code"
      maxlength="6">
  </div>
  <div class="control">
    <button type="button" class="button is-primary" (click)="getMultiplayerSubmission()"
    [disabled]="!code">{{'action.join' | translate}}</button>
  </div>
</div>
@if (opponents && opponents.length) {
  <table class="table is-striped">
    <thead>
      <tr>
        <th>{{'marathon.submit.table.runners' | translate}}</th>
        <th>{{'marathon.submit.game.name.label' | translate}}</th>
        <th>{{'marathon.submit.category.name.label' | translate}}</th>
        <th>{{'marathon.submit.category.video.label' | translate}}</th>
        <th>{{'marathon.submit.table.actions' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      @for (opponent of opponents; track opponent; let i = $index) {
        <tr>
          <td>
            @for (user of opponent.users; track user) {
              <div class="is-flex">
                <app-user-link [user]="user" [isLink]="true" target="_blank"></app-user-link>
              </div>
            }
          </td>
          <td>{{opponent.gameName}}</td>
          <td>{{opponent.categoryName}}</td>
          <td>
            <div class="field">
              <div class="control">
                <input class="input"
                  type="text"
                  [(ngModel)]="opponent.video"
                  [ngClass]="{'is-danger': opponentVideo.invalid}"
                  name="opponentVideo{{i}}"
                  [required]="marathonService.marathon.videoRequired"
                  maxlength="100"
                  #opponentVideo="ngModel">
                <p class="help is-pulled-right">{{opponent.video?.length}}/100</p>
              </div>
              @if (opponentVideo.invalid) {
                <div>
                  @if (opponentVideo.errors.required) {
                    <p class="help is-danger">
                    {{'marathon.submit.category.video.error.required' | translate}}</p>
                  }
                </div>
              }
            </div>
          </td>
          <td class="v-align-middle">
            <button class="delete" (click)="removeMultiplayer(i)"></button>
          </td>
        </tr>
      }
    </tbody>
  </table>
}
