<h1 class="title">{{ 'marathon.settings.submissionsTitle' | translate}}</h1>
<div class="field">
  <label for="submitsOpen" class="label">{{ 'marathon.settings.submissions.label' | translate}}</label>
  <div class="control is-flex">
    <span class="forbidden">{{'marathon.settings.submissions.closed' | translate}}</span>
    <nwb-switch [(ngModel)]="settings.submissionsOpen" id="submitsOpen" name="submitsOpen" (click)="onSubmitsOpenChanged($event)" [disabled]="settings.selectionDone">
      <span>{{ 'marathon.settings.submissions.open' | translate}}</span>
    </nwb-switch>
  </div>
</div>
<div class="columns">
  <div class="column">
    <label for="maxGamesPerRunner" class="label">{{ 'marathon.settings.maxGamesPerRunner.label' | translate}}</label>
    <div class="field has-addons">
      <div class="control is-expanded">
        <input class="input"
          [disabled]="settings.selectionDone || settings.unlimitedGames"
          [ngClass]="{'is-danger': maxGamesPerRunner.invalid}"
          type="number"
          [(ngModel)]="settings.maxGamesPerRunner"
          name="maxGamesPerRunner"
          id="maxGamesPerRunner"
          [appMinNumberValidator]="1"
          required
          step="1"
          #maxGamesPerRunner="ngModel">
      </div>
      <p class="control">
        <button type="button" class="button">
          <label class="checkbox">
            <input type="checkbox" [(ngModel)]="settings.unlimitedGames" name="unlimitedGames"
              class="categoriesCb">{{'marathon.settings.unlimited' | translate}}
            </label>
          </button>
        </p>
      </div>
      @if (maxGamesPerRunner.invalid) {
        <div>
          @if (maxGamesPerRunner.errors.minNumber) {
            <p class="help is-danger"
              >{{'marathon.settings.maxGamesPerRunner.error.min' |
            translate}}</p>
          }
          @if (maxGamesPerRunner.errors.required) {
            <p class="help is-danger">
              {{ 'marathon.settings.maxGamesPerRunner.error.required' | translate}}
            </p>
          }
        </div>
      }
    </div>
    <div class="column">
      <label for="maxCategoriesPerGame" class="label">{{'marathon.settings.maxCategoriesPerGame.label' | translate}}</label>
      <div class="field has-addons">
        <div class="control is-expanded">
          <input class="input"
            [ngClass]="{'is-danger': maxCategoriesPerGame.invalid}"
            type="number"
            [disabled]="settings.selectionDone || settings.unlimitedCategories"
            [(ngModel)]="settings.maxCategoriesPerGame"
            name="maxCategoriesPerGame"
            id="maxCategoriesPerGame"
            [appMinNumberValidator]="1"
            [appMaxNumberValidator]="10"
            required
            step="1"
            #maxCategoriesPerGame="ngModel">
        </div>
        <p class="control">
          <button type="button" class="button">
            <label class="checkbox">
              <input type="checkbox" class="categoriesCb" [(ngModel)]="settings.unlimitedCategories" name="unlimitedCategories">{{'marathon.settings.unlimited' | translate}}
              </label>
            </button>
          </p>
        </div>
        @if (maxCategoriesPerGame.invalid) {
          <div>
            @if (maxCategoriesPerGame.errors.minNumber) {
              <p class="help is-danger"
                >
              {{'marathon.settings.maxCategoriesPerGame.error.min' | translate}}
            </p>
          }
          @if (maxCategoriesPerGame.errors.maxNumber) {
            <p class="help is-danger">
              {{'marathon.settings.maxCategoriesPerGame.error.max' | translate}}
            </p>
          }
          @if (maxCategoriesPerGame.errors.required) {
            <p class="help is-danger">
              {{'marathon.settings.maxCategoriesPerGame.error.required' | translate}}
            </p>
          }
        </div>
      }
    </div>
  </div>
  <div class="columns">
    <div class="column">
      <div class="field">
        <label for="hasMultiplayer" class="label">{{'marathon.settings.multiplayer.label' | translate}}</label>
        <div class="control is-flex">
          <span class="forbidden">{{'marathon.settings.multiplayer.forbidden' | translate}}</span>
          <nwb-switch [(ngModel)]="settings.allowMultiplayer"
            name="hasMultiplayer"
            id="hasMultiplayer"
            [disabled]="settings.selectionDone">
            <span>{{'marathon.settings.multiplayer.allowed' | translate}}</span>
          </nwb-switch>
        </div>
      </div>
    </div>
    <div class="column">
      <label for="maxNumberOfScreens" class="label">{{'marathon.settings.maxNumberOfScreens.label' | translate}}</label>
      <div class="field">
        <div class="control">
          <input class="input"
            [ngClass]="{'is-danger': maxNumberOfScreens.invalid}"
            type="number"
            [disabled]="settings.selectionDone && !settings.allowMultiplayer"
            [(ngModel)]="settings.maxNumberOfScreens"
            name="maxNumberOfScreens"
            id="maxNumberOfScreens"
            [appMinNumberValidator]="1"
            required
            step="1"
            #maxNumberOfScreens="ngModel">
        </div>
      </div>
      <p class="help">{{'marathon.settings.maxNumberOfScreens.help' | translate}}</p>
      @if (maxNumberOfScreens.invalid) {
        <div>
          @if (maxNumberOfScreens.errors.minNumber) {
            <p class="help is-danger"
              >{{'marathon.settings.maxNumberOfScreens.error.min' |
              translate}}
            </p>
          }
          @if (maxNumberOfScreens.errors.required) {
            <p class="help is-danger">
              {{'marathon.settings.maxNumberOfScreens.error.required' | translate}}
            </p>
          }
        </div>
      }
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column">
      <div class="field">
        <label for="emulatorAuthorized" class="label">{{'marathon.settings.emulatorAuthorized.label' | translate}}</label>
        <div class="control">
          <nwb-switch [(ngModel)]="settings.allowEmulators"
            name="emulatorAuthorized"
            id="emulatorAuthorized"
            [disabled]="settings.selectionDone">
            <span>{{'marathon.settings.emulatorAuthorized.allowed' | translate}}</span>
          </nwb-switch>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <label for="videoRequired" class="label">{{'marathon.settings.videoRequired.label' | translate}}</label>
        <div class="control">
          <nwb-switch [(ngModel)]="settings.videoRequired"
            name="videoRequired"
            id="videoRequired"
            [disabled]="settings.selectionDone">
            <span>{{'marathon.settings.videoRequired.allowed' | translate}}</span>
          </nwb-switch>
        </div>
      </div>
    </div>
  </div>
  <!-- Discord requirement -->
  <div class="columns">
    <div class="column">
      <fieldset [disabled]="!settings.discord && !settings.discordPrivate">
        <div class="field">
          <div class="control loader" [ngClass]="{'is-loading': loadingDiscordCheck}"></div>
          <label for="discordRequired" class="label">{{ 'marathon.settings.discordRequirement.label' | translate }}</label>
          <div class="control">
            <nwb-switch [(ngModel)]="settings.discordRequired"
              name="discordRequired"
              id="discordRequired"
              [disabled]="loadingDiscordCheck"
              (change)="checkDiscordStatus()">
              <span>{{ 'marathon.settings.discordRequirement.required' | translate }}</span>
            </nwb-switch>
          </div>
        </div>
        <div class="help">
          <p>{{ 'marathon.settings.discordRequirement.help.title' | translate }}</p>
          <ul class="default">
            <li>{{ 'marathon.settings.discordRequirement.help.1' | translate }} <a [href]="botInvite" target="_blank">{{ botInvite }}</a></li>
            <li>{{ 'marathon.settings.discordRequirement.help.2' | translate }}</li>
            <li>{{ 'marathon.settings.discordRequirement.help.3' | translate }}</li>
          </ul>
        </div>
        @if (settings.discordGuildId) {
          <div class="field">
            <p>{{ 'marathon.settings.discordRequirement.found.title' | translate }}</p>
            <p [innerHTML]="'marathon.settings.discordRequirement.found.name' | translate: { guildName: settings.discordGuildName }"></p>
            <p [innerHTML]="'marathon.settings.discordRequirement.found.id' | translate: { guildId: settings.discordGuildId }"></p>
          </div>
        }
      </fieldset>
    </div>
  </div>
  <!-- custom fields -->
  <h1 class="title">{{ 'marathon.settings.customFields.title' | translate}}</h1>
  <p>{{ 'marathon.settings.customFields.description1' | translate}}</p>
  <p>{{ 'marathon.settings.customFields.description2' | translate}}</p>
  <button type="button" class="button is-info is-pulled-right mb-3"
    (click)="addQuestion.emit({questionType: 'SUBMISSION'})">{{ 'marathon.settings.customFields.add' | translate}}
  </button>
  @if (submissionsQuestions?.length > 0) {
    <table class="table is-fullwidth is-striped">
      <thead>
        <tr>
          <th>{{ 'marathon.settings.customFields.label.title' | translate}}</th>
          <th>{{ 'marathon.settings.customFields.label.type' | translate}}</th>
          <th>{{ 'marathon.settings.customFields.required.title' | translate}}</th>
          <th>{{ 'marathon.settings.customFields.action.title' | translate}}</th>
        </tr>
      </thead>
      <tbody cdkDropList
        [cdkDropListData]="submissionsQuestions"
        (cdkDropListDropped)="drop.emit($event)">
        @for (question of submissionsQuestions; track i; let i = $index) {
          <tr cdkDrag>
            <td [attr.rowspan]="question.fieldType === 'SELECT' ? question.options.length + 1 : 1">
              <input class="input"
                type="text"
                [(ngModel)]="question.label"
                name="submission-label{{i}}"
                [ngClass]="{'is-danger': submissionLabel.invalid}"
                required
                maxlength="100"
                #submissionLabel="ngModel">
              <p class="help is-pulled-right">{{question.label?.length}}/100</p>
              @if (submissionLabel.invalid) {
                <div>
                  @if (submissionLabel.errors.required) {
                    <p class="help is-danger">
                    {{'marathon.settings.customFields.label.error.required' | translate}}</p>
                  }
                </div>
              }
            </td>
            <td>
              <span class="select">
                <select [(ngModel)]="question.fieldType" name="submission-fieldType{{i}}"
                  (ngModelChange)="questionTypeChange.emit({questionType: 'SUBMISSION', i, fieldType: question.fieldType})">
                  <option value="TEXT">{{ 'marathon.settings.customFields.type.option.text' | translate}}</option>
                  <option value="SELECT">{{ 'marathon.settings.customFields.type.option.select' | translate}}</option>
                  <option value="TEXTAREA">{{ 'marathon.settings.customFields.type.option.textArea' | translate}}</option>
                  <option value="CHECKBOX">{{ 'marathon.settings.customFields.type.option.checkbox' | translate}}</option>
                  <option value="FREETEXT">{{ 'marathon.settings.customFields.type.option.freetext' | translate}}</option>
                </select>
              </span>
            </td>
            <td>
              <nwb-switch [(ngModel)]="question.required" name="submission-required{{i}}"
              [disabled]="question.fieldType === 'FREETEXT'"></nwb-switch>
            </td>
            <td>
              <i class="fa-solid fa-bars is-pulled-right" cdkDragHandle></i>
              @if (question.fieldType ===
                'SELECT') {
                <a (click)="addOption.emit({questionType: 'SUBMISSION', i})" class="plsBtn">
                  <i class="fa-solid fa-plus"></i>
                </a>
              }
              <a (click)="removeQuestion.emit({questionType: 'SUBMISSION', i})">
                <i class="fa-solid fa-times"></i>
              </a>
            </td>
          </tr>
          @if (question.fieldType === 'SELECT') {
            @for (option of question.options; track j; let j = $index) {
              <tr>
                <td>
                  <input class="input"
                    type="text"
                    [(ngModel)]="question.options[j]"
                    name="submission-option{{i}}-{{j}}"
                    [ngClass]="{'is-danger': submissionOptionInput.invalid}"
                    required
                    maxlength="50"
                    #submissionOptionInput="ngModel">
                  <p class="help is-pulled-right">{{option?.length}}/50</p>
                  @if (submissionOptionInput.invalid) {
                    <div>
                      @if (submissionOptionInput.errors.required) {
                        <p class="help is-danger">
                        {{'marathon.settings.customFields.option.error.required' | translate}}</p>
                      }
                    </div>
                  }
                </td>
                <td></td>
                <td>
                  <a (click)="removeOption.emit({questionType: 'SUBMISSION', i, j })">
                    <i class="fa-solid fa-times"></i>
                  </a>
                </td>
              </tr>
            }
          }
          @if (question.fieldType === 'FREETEXT') {
            <tr>
              <td colspan="3">
                <textarea class="textarea"
                  [readOnly]="disabled"
                  rows=5
                  maxlength="1000"
                  [(ngModel)]="question.description"
                name="submission-questionDescription{{i}}"></textarea>
                <p class="help is-pulled-right">{{question.description?.length}}/1000</p>
                <p class="help">{{ 'marathon.settings.marathonDescription.help' | translate}}</p>
              </td>
            </tr>
          }
        }
      </tbody>
    </table>
  }
