.twitter {
  background-color: #00aced;
  border-color:transparent;
  color:#fff;
  margin-right: 1rem;
}

.bsky {
  background-color: #0085FF;
  border-color:transparent;
  color:#fff;
  margin-right: 1rem;
}
