<nav class="menu box" [class.collapsed]="collapsed">

  <button class="button navbar-burger" [class]="isActiveClass" (click)="toggleSidebar()">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="menu-sections">
    <app-sidebar-overview [collapsed]="collapsed" class="menu-section"></app-sidebar-overview>
    <app-sidebar-tracker [collapsed]="collapsed" class="menu-section"></app-sidebar-tracker>
    <app-sidebar-admin [collapsed]="collapsed" class="menu-section"></app-sidebar-admin>
    <hr *ngIf="!collapsed">
    <app-sidebar-moderators [collapsed]="collapsed" class="menu-section"></app-sidebar-moderators>
  </div>
</nav>
