<nav class="menu box" [class.collapsed]="collapsed">

  <button class="button navbar-burger" [class]="isActiveClass" (click)="toggleSidebar.emit(!collapsed)">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <div class="menu-sections">
    <app-marathon-sidebar-overview [collapsed]="collapsed"
      [marathon]="marathon"
    class="menu-section"></app-marathon-sidebar-overview>
    @if (marathon.hasDonations || marathon.hasIncentives) {
      <app-sidebar-tracker
        [collapsed]="collapsed" [marathon]="marathon"
      class="menu-section"></app-sidebar-tracker>
    }
    @if (isAdmin) {
      <app-sidebar-admin
        [collapsed]="collapsed"
        [marathon]="marathon"
      class="menu-section"></app-sidebar-admin>
    }
    @if (!collapsed) {
      <hr>
      }
      @if (!collapsed) {
        <app-sidebar-moderators [collapsed]="collapsed" [marathon]="marathon" class="menu-section"></app-sidebar-moderators>
      }
    </div>
  </nav>
