<div class="tabs is-boxed">
  <ul>
    <li [class.is-active]="isActive(submissionTab)">
      <a [routerLink]="'.' | localize" [queryParams]="queryFor(submissionTab)">
        {{ 'user.profile.submissions' | translate}}
      </a>
    </li>
    <li [class.is-active]="isActive(moderationTab)">
      <a [routerLink]="'.' | localize" [queryParams]="queryFor(moderationTab)">
        {{ 'user.profile.moderator' | translate}}
      </a>
    </li>

    @if (user.savedGamesPublic) {
      <li [class.is-active]="isActive(savedSpeedrunsTab)">
        <a [routerLink]="'.' | localize" [queryParams]="queryFor(savedSpeedrunsTab)">
          Saved speedruns
        </a>
      </li>
    }
  </ul>
</div>

<div class="history-view-container">
  @switch (activeTab) {
    <!--@case (submissionTab)-->
    @default {
      <app-user-profile-submission-history [submissions]="submissionHistory" />
    }

    @case (moderationTab) {
      <app-user-profile-moderated-history [history]="moderationHistory" />
    }

    @case (savedSpeedrunsTab) {
      @if(user.savedGamesPublic) {
        <app-user-profile-saved-games [games]="savedGames" />
      }
    }
  }

  @if (loading) {
    <div class="is-centered is-loader">
      <app-loading-indicator />
    </div>
  }
</div>
