<div class="marathon-details-info-container">
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.from' | translate }}
    </p>
    <app-element-temporal-datetime [dateTime]="marathon.startDate" format="shortDate" class="info"></app-element-temporal-datetime>
  </div>
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.to' | translate }}
    </p>
    <app-element-temporal-datetime [dateTime]="marathon.endDate" format="shortDate" class="info"></app-element-temporal-datetime>
  </div>
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.location' | translate }}
    </p>
    <app-marathon-location [marathon]="marathon" class="info"></app-marathon-location>
    <p *ngIf="marathon.onsite && marathon.location">{{ marathon.location }}</p>
  </div>
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.language' | translate }}
    </p>
    <p class="info">
      {{ 'language.' + marathon.language | translate }}
    </p>
  </div>
  <a *ngIf="marathon.twitch" [href]="'https://twitch.tv/' +  marathon.twitch + '?utm_source=Oengus'" target="_blank" class="info-box">
    <p class="info-label">
      {{ 'platform.TWITCH' | translate }}
    </p>
    <fa-icon [icon]="faTwitch" class="info"></fa-icon>
  </a>
  <a *ngIf="marathon.mastodon" [href]="mastodonUrl" target="_blank" class="info-box">
    <p class="info-label">
      {{ 'platform.MASTODON' | translate }}
    </p>
    <fa-icon [icon]="faMastodon" class="info"></fa-icon>
  </a>
  <a *ngIf="marathon.bluesky" [href]="bskyUrl" target="_blank" class="info-box">
    <p class="info-label">
      {{ 'platform.BLUESKY' | translate }}
    </p>
    <fa-icon [icon]="faBluesky" class="info"></fa-icon>
  </a>
  <a *ngIf="marathon.twitter" [href]="'https://twitter.com/' + marathon.twitter + '?utm_source=Oengus'" target="_blank" class="info-box">
    <p class="info-label">
      {{ 'platform.TWITTER' | translate }}
    </p>
    <fa-icon [icon]="faTwitter" class="info"></fa-icon>
  </a>
  <a *ngIf="!marathon.discordPrivacy && marathon.discord" [href]="'https://discord.gg/' + marathon.discord + '?utm_source=Oengus'" target="_blank" class="info-box">
    <p class="info-label">
      {{ 'platform.DISCORD' | translate }}
    </p>
    <fa-icon [icon]="faDiscord" class="info"></fa-icon>
  </a>

  <a *ngIf="marathon.youtube" [href]="marathon.youtube + '?utm_source=Oengus'" target="_blank" class="info-box">
    <p class="info-label">
      {{ 'platform.YOUTUBE' | translate }}
    </p>
    <fa-icon [icon]="faYoutube" class="info"></fa-icon>
  </a>
</div>

<!-- TODO: youtube player -->
<app-element-twitch-player
  *ngIf="marathon.twitch && isLive"
  [channel]="marathon.twitch"
  class="marathon-live-player"></app-element-twitch-player>

