<div class="marathon-details-info-container">
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.from' | translate }}
    </p>
    <app-element-temporal-datetime [dateTime]="marathon.startDate" format="shortDate" class="info"></app-element-temporal-datetime>
  </div>
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.to' | translate }}
    </p>
    <app-element-temporal-datetime [dateTime]="marathon.endDate" format="shortDate" class="info"></app-element-temporal-datetime>
  </div>
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.location' | translate }}
    </p>
    <app-marathon-location [marathon]="marathon" class="info"></app-marathon-location>
    @if (marathon.onsite && marathon.location) {
      <p>{{ marathon.location }}</p>
    }
  </div>
  <div class="info-box">
    <p class="info-label">
      {{ 'marathon.home.language' | translate }}
    </p>
    <p class="info">
      {{ 'language.' + marathon.language | translate }}
    </p>
  </div>
  @if (marathon.twitch) {
    <a [href]="'https://twitch.tv/' +  marathon.twitch + '?utm_source=Oengus'" target="_blank" class="info-box">
      <p class="info-label">
        {{ 'platform.TWITCH' | translate }}
      </p>
      <fa-icon [icon]="faTwitch" class="info"></fa-icon>
    </a>
  }
  @if (marathon.mastodon) {
    <a [href]="mastodonUrl" target="_blank" class="info-box">
      <p class="info-label">
        {{ 'platform.MASTODON' | translate }}
      </p>
      <fa-icon [icon]="faMastodon" class="info"></fa-icon>
    </a>
  }
  @if (marathon.bluesky) {
    <a [href]="bskyUrl" target="_blank" class="info-box">
      <p class="info-label">
        {{ 'platform.BLUESKY' | translate }}
      </p>
      <fa-icon [icon]="faBluesky" class="info"></fa-icon>
    </a>
  }
  @if (marathon.twitter) {
    <a [href]="'https://twitter.com/' + marathon.twitter + '?utm_source=Oengus'" target="_blank" class="info-box">
      <p class="info-label">
        {{ 'platform.TWITTER' | translate }}
      </p>
      <fa-icon [icon]="faTwitter" class="info"></fa-icon>
    </a>
  }
  @if (!marathon.discordPrivacy && marathon.discord) {
    <a [href]="'https://discord.gg/' + marathon.discord + '?utm_source=Oengus'" target="_blank" class="info-box">
      <p class="info-label">
        {{ 'platform.DISCORD' | translate }}
      </p>
      <fa-icon [icon]="faDiscord" class="info"></fa-icon>
    </a>
  }

  @if (marathon.youtube) {
    <a [href]="marathon.youtube + '?utm_source=Oengus'" target="_blank" class="info-box">
      <p class="info-label">
        {{ 'platform.YOUTUBE' | translate }}
      </p>
      <fa-icon [icon]="faYoutube" class="info"></fa-icon>
    </a>
  }
</div>

<!-- TODO: youtube player -->
@if (marathon.twitch && isLive) {
  <app-element-twitch-player
    [channel]="marathon.twitch"
  class="marathon-live-player"></app-element-twitch-player>
}

