<article class="message is-success {{status}}">
  <div class="message-header">
    <p>
      {{ category.name }} ({{ 'marathon.schedule.type.' + category.type | translate}}) - <app-element-temporal-duration [duration]="category.estimate"></app-element-temporal-duration>
      @if (category.video) {
        <a [href]="category.video" class="video" target="_blank" aria-label="Video">
          <span class="icon">
            <i class="fa-solid fa-film"></i>
          </span>
        </a>
      }
    </p>
    @if (marathon.selectionDone) {
      <p class="is-pulled-right">
        {{'marathon.selection.status.' + safeStatus | translate}}
      </p>
    }
    @if (showDelete) {
      <app-delete-button
        [baseText]="'marathon.submissions.category.delete' | translate"
        [confirmText]="'action.confirm' | translate"
        [cancelText]="'action.cancel' | translate"
        (confirmHandler)="triggerDelete.next()"
      ></app-delete-button>
    }
  </div>
  <div class="message-body">
    @if (category.type !== 'SINGLE' && category.opponents) {
      @if (category.opponents.length) {
        <p>
          {{'marathon.submit.category.opponent.with' | translate}}
          @for (opponent of category.opponents; track opponent; let i = $index) {
            <span>
              @if (i > 0) {
                <span>, </span>
              }
              <app-user-link [user]="opponent.user" [isLink]="true" [showAvatar]="true"></app-user-link>
              @if (opponent.video) {
                <a [href]="opponent.video" target="_blank" aria-label="Video">
                  <span class="icon" title="Click to watch the runner's submission video">
                    <i class="fa-solid fa-film"></i>
                  </span>
                </a>
              }
            </span>
          }
          @if (waitingRunnerCount > 0) {
            <span>{{
              'marathon.submit.category.opponent.andMore' | translate:{ count: waitingRunnerCount, opponentList: '' }
            }}</span>
          }
        </p>
      } @else {
        @if (category.expectedRunnerCount - 1 > 0) {
          <p>
            {{ 'marathon.submit.category.opponent.waiting' | translate:{ count: category.expectedRunnerCount - 1 } }}
          </p>
        }
      }
      <hr />
    }
    <p>
      <app-simple-md [data]="category.description"></app-simple-md>
    </p>
  </div>
</article>
