@use "bulmaswatch/solar/variables" as vars;
@use 'sass:color';

hr {
  border: 1px solid vars.$grey-alt;
}

.message.is-success {
  .message-body {
    p {
      color: color.adjust(vars.$green, $lightness: -4%);
    }
  }
}
