<app-element-table class="marathon-calendar-table">
  @for ( of realDaylyCallendars; track ; let dailyCalendar = $$implicit.marathons; let endtime = $$implicit.endtime; let datetime = $$implicit.datetime) {
    @if (dailyCalendar.length) {
      <app-element-table-cell [isHeader]="true"
        class="day"
        [class]="isToday(datetime)"
        columnStart="1"
        columnEnd="-1">
        <app-element-temporal-datetime [dateTime]="datetime" format="longDate"></app-element-temporal-datetime>
      </app-element-table-cell>
      @for (marathon of dailyCalendar; track marathon; let index = $index) {
        <app-calendar-view-row [marathon]="marathon" [datetime]="datetime" [class]="getClasses(index)"></app-calendar-view-row>
      }
    } @else {
      <app-element-table-cell [isHeader]="true"
        class="day-range"
        [class]="isToday(endtime, datetime)"
        columnStart="1"
        columnEnd="-1">
        <app-element-temporal-range [start]="endtime" [end]="datetime" format="longDate" ></app-element-temporal-range>
      </app-element-table-cell>
      <app-element-table-cell class="no-marathons is-even"
        columnStart="1"
        columnEnd="-1">
        {{ 'calendar.noMarathons' | translate }}
      </app-element-table-cell>
    }
  }
</app-element-table>
