<app-element-table class="marathon-calendar-table">
  @for ($$implicit of realDaylyCallendars; track $$implicit;) {
    @if ($$implicit.marathons.length) {
      <app-element-table-cell [isHeader]="true"
        class="day"
        [class]="isToday($$implicit.datetime)"
        columnStart="1"
        columnEnd="-1">
        <app-element-temporal-datetime [dateTime]="$$implicit.datetime" format="longDate"></app-element-temporal-datetime>
      </app-element-table-cell>
      @for (marathon of $$implicit.marathons; track marathon; let index = $index) {
        <app-calendar-view-row [marathon]="marathon" [datetime]="$$implicit.datetime" [class]="getClasses(index)"></app-calendar-view-row>
      }
    } @else {
      <app-element-table-cell [isHeader]="true"
        class="day-range"
        [class]="isToday($$implicit.endtime, $$implicit.datetime)"
        columnStart="1"
        columnEnd="-1">
        <app-element-temporal-range [start]="$$implicit.endtime" [end]="$$implicit.datetime" format="longDate" ></app-element-temporal-range>
      </app-element-table-cell>
      <app-element-table-cell class="no-marathons is-even"
        columnStart="1"
        columnEnd="-1">
        {{ 'calendar.noMarathons' | translate }}
      </app-element-table-cell>
    }
  }
</app-element-table>
