<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Get ready to make your account more secure!</p>
    </header>
    <section class="modal-card-body">
      <h5 class="title">Set up 2fa</h5>
      <p>Scan the QR code with your authenticator app and enter the number in the input below</p>
      <img [src]="mfaSettings.qrCode" alt="QR code for an authenticator app"/>
      <p>Alternatively, you can manually enter this code: {{ mfaSettings.secretKey }}</p>
      <br />
      <input class="input"
             type="number"
             pattern="[0-9]{6}"
             (keydown.enter)="saveMfa()"
             [(ngModel)]="mfaCode"
             name="mfaCode" style="margin-bottom: 1rem">
    </section>
    <footer class="modal-card-foot">
      <button class="button is-warning"
              (click)="mfaResult.emit(false)"
              [ngClass]="{ 'is-loading': loading }">
        Cancel
      </button>
      <button class="button is-success"
              [disabled]="!mfaCode"
              (click)="saveMfa()"
              [ngClass]="{ 'is-loading': loading }">
        Save
      </button>
    </footer>
  </div>
</div>
