<app-element-dropdown [type]="type" [isRight]="isRight" class="sign-in-picker">
  <span trigger>
    {{ 'navbar.login.title' | translate }}
  </span>
  <div options>
    <a [href]="authService.getDiscordAuthUri()" (click)="storeCurrentPage()" [class]="dropdownItemClass">
      <i class="fa-brands fa-discord"></i>
      <span>
        {{ 'navbar.login.discord' | translate }}
      </span>
    </a>
    <a [href]="authService.getTwitchAuthUrl()" (click)="storeCurrentPage()" [class]="dropdownItemClass">
      <i class="fa-brands fa-twitch"></i>
      <span>
        {{ 'navbar.login.twitch' | translate }}
      </span>
    </a>
  </div>
</app-element-dropdown>
