<app-element-dropdown [type]="type" [isRight]="isRight" class="sign-in-picker">
  <p trigger>
    {{ 'navbar.login.title' | translate }}
  </p>
  <div options>
    <a [href]="userService.getDiscordAuthUri()" [class]="dropdownItemClass">
      <fa-icon [icon]="iconDiscord"></fa-icon>
      <span>
        {{ 'navbar.login.discord' | translate }}
      </span>
    </a>
    <a [href]="userService.getTwitchAuthUrl()" [class]="dropdownItemClass">
      <fa-icon [icon]="iconTwitch"></fa-icon>
      <span>
        {{ 'navbar.login.twitch' | translate }}
      </span>
    </a>
    <!--<a href="" [class]="dropdownItemClass">
      <fa-icon [icon]="iconLoginNew"></fa-icon>
      <span>
        {{ 'navbar.login.password' | translate }}
      </span>
    </a>-->
  </div>
</app-element-dropdown>
