.homepage-marathons-container {
  width: 100%;
}

.marathons-list-container {
  grid-template-columns: repeat(4, auto);
  grid-template-columns: auto min-content min-content auto;

  > .title {
    // Span from start to finish
    grid-column: 1 / -1;
    padding-inline-start: 0;
    margin: 0;
  }

  > .location {
    display: flex;
    justify-content: center;
  }

  > .time {
    text-align: end;
  }

  > .spacer {
    // Span from start to finish
    grid-column: 1 / -1;
    height: calc(3 * var(--spacing) / 2);
  }
}

@media (max-width: 1023px) {
  .marathons-list-container {
    //grid-template-rows: 20fr;

    > .marathon-name {
      grid-column: 1 / -1;
    }

    > .location {
      grid-column: 1 / span 2;
    }
  }
}
