@use '../../../assets/table/variables' as table-vars;

.homepage-marathons-container {
  width: 100%;
}

.marathons-list-container {
  grid-template-columns: repeat(4, auto);
  grid-template-columns: auto min-content min-content auto;

  .marathon-link {
    grid-column: span 4;
    display: grid;
    align-items: center;
    width: 100%;
    grid-template-columns: repeat(4, auto);
    grid-template-columns: 50px 1fr 1fr;
    text-decoration: none;
    margin-bottom: 0.5rem;
    border-left: 10px solid table-vars.$info-color;
    transition: 150ms;

    @media (min-width: 1024px) {
      grid-template-columns: 2fr 50px 1fr 1fr;
      grid-column: span 4;
    }

    &:hover {
      background: white;

      .marathon-name,
      .location,
      .language,
      .time {
        color: black;
      }
    }
  }

  .title {
    grid-column: 1 / -1;
    padding-inline-start: 0;
    margin: 0;
  }

  .marathon-name,
  .location,
  .language,
  .time{
    height: 100%;
    display: flex;
    align-items: center;
    transition: 200ms;
  }
  
  .marathon-name {
    font-weight: 700;
    font-size: 20px;
    color: white;

    @media (max-width: 1023px) {
      grid-column: 1 / -1;
    }
  }

  .location {
    display: flex;
    justify-content: center;
    background-color: table-vars.$light-color;
  }

  .language {
    background-color: table-vars.$light-color;
  }

  .time {
    text-align: end;
    width: 100%;
    background-color: table-vars.$light-color;
    justify-content: flex-end;
  }

  .spacer {
    // Span from start to finish
    grid-column: 1 / -1;
    height: calc(3 * var(--spacing) / 2);
  }
}
