@import "bulmaswatch/solar/variables";

.is-static-stat {
  background-color: $table-striped-row-even-background-color;
}

.availLink {
  margin-right: 0.4rem;
}

.submitBtn {
  margin-right: 1rem;
}
