@use "bulmaswatch/solar/variables" as vars;

.is-static-stat {
  background-color: vars.$table-striped-row-even-background-color;
}

.availLink {
  margin-right: 0.4rem;
}

.submitBtn {
  margin-right: 1rem;
}
