@use 'sass:color' as color;

@import 'bulmaswatch/solar/variables';

// Improve text contrast for accessibility
$-lightness-change: 36%;
$text: color.scale($text, $lightness: $-lightness-change);
$title-color: color.scale($title-color, $lightness: $-lightness-change);
$subtitle-color: $title-color;
$code: #ffc8e2;

$discordBlurple: #5865F2;
$twitchPurple: #9146FF;
$googleWhite: #000000;

//$table-colors

.is-warning {
  background-color: $warning !important;
}

@import 'bulma';
@import 'bulmaswatch/solar/overrides';
@import '@duncte123/bulma-tagsinput/src/sass/index';
@import './elements';

@import 'bulma-extensions/dist/css/bulma-extensions.min.css';
@import 'bulma-extensions/bulma-tooltip/src/sass/index';
@import 'node_modules/@wizishop/ng-wizi-bulma/ng-wizi-bulma';
// Manually copied in the file, it was not exported
@import "./assets/themes/ng-pick-datetime-picker.min.css";
@import "flag-icon-css/css/flag-icon.min.css";
@import "vis-timeline/dist/vis-timeline-graph2d.min.css";
