@use 'sass:color' as color;
@use 'bulmaswatch/solar/variables' as *;
@forward 'bulmaswatch/solar/variables';

@use './elements' with (
  $twitchPurple: #9146FF,
  $discordBlurple: #5865F2
);

$white: white;
$discordBlurple: #5865F2;
$twitchPurple: #9146FF;
$googleWhite: #000000;
$input-placeholder-color: #9d8484;
$code: #ffc8e2;

$-lightness-change: 36%;
$text: color.scale($text, $lightness: $-lightness-change);
$title-color: color.scale($title-color, $lightness: $-lightness-change);
$subtitle-color: $title-color;

@import 'bulma/bulma';

$bulmaswatch-import-font: false;
@import 'bulmaswatch/solar/overrides';
@import '@duncte123/bulma-tagsinput/src/sass/index';
@import 'bulma-extensions/bulma-tooltip/src/sass/index';
@import 'node_modules/@oengus/ng-wizi-bulma/ng-wizi-bulma';
@import 'bulma-extensions/dist/css/bulma-extensions.min.css';
@import "./assets/themes/ng-pick-datetime-picker.min.css";
@import "flag-icon-css/css/flag-icons.min.css";
@import "vis-timeline/dist/vis-timeline-graph2d.min.css";
@import 'markdown-it-github-alerts/styles/github-base.css';

:root {
  --color-note: #2f81f7;
  --color-tip: #3fb950;
  --color-warning: #d29922;
  --color-severe: #db6d28;
  --color-caution: #f85149;
  --color-important: #a371f7;
}

.is-warning {
  background-color: $warning !important;
}
