@use 'sass:color' as color;

$twitchPurple: #9146FF !default;
$discordBlurple: #5865F2 !default;

.button.is-twitch {
  color: white;
  border-color: white;
  background-color: $twitchPurple;

  &:hover {
    background-color: color.scale($twitchPurple, $saturation: -40%);
  }
}
.button.is-discord {
  color: white;
  border-color: white;
  background-color: $discordBlurple;

  &:hover {
    background-color: color.scale($discordBlurple, $saturation: -40%);
  }
}
