.availAdd {
  margin-bottom: 1rem;
}

.v-align-middle {
  vertical-align: middle;
}

.dupeBtn {
  margin-right: 0.5rem;
}

.rmAvail {
  margin: auto;
}

.addBtn {
  margin-left: 5px;
}

.delBtn {
  right: 25px;
}

.confirm {
  margin-left: 1rem;
}

.emuCb {
  margin-right: 0.25rem;
}
