<ng-template #dropdownTrigger>
  <ng-content select="[trigger]"></ng-content>
</ng-template>
<ng-template #dropdownOptions>
  <ng-content select="[options]"></ng-content>
</ng-template>

<!-- Trigger -->
@if (isNavbar) {
  <a class="navbar-link" (click)="toggleActive()" [ngClass]="{ 'is-disabled': disabled }">
    <ng-container *ngTemplateOutlet="dropdownTrigger"></ng-container>
  </a>
} @else {
  <div class="dropdown-trigger">
    <button class="button is-primary" (click)="toggleActive()" [disabled]="disabled">
      <div>
        <ng-container *ngTemplateOutlet="dropdownTrigger"></ng-container>
      </div>
      <fa-icon [icon]="faAngleDown"></fa-icon>
    </button>
  </div>
}
<!-- Options -->
@if (isNavbar) {
  <div class="navbar-dropdown" [class]="{ 'is-right': isRight }">
    <ng-container *ngTemplateOutlet="dropdownOptions"></ng-container>
  </div>
} @else {
  <div class="dropdown-menu">
    <div class="dropdown-content">
      <ng-container *ngTemplateOutlet="dropdownOptions"></ng-container>
    </div>
  </div>
}
